@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using System.Globalization
@{
    ViewData["Title"] = SharedLocalizer["Search Result"];

}
@using ARINLAB.Areas.Admin.Utils
@using ARINLAB.Controllers
@model SearchModel

<div class="row blog">


    <div class="col-sm-12 ">
        <div class="col-sm-12" >
            <h1 class="md:text-4xl text-2xl font-semibold mb-10" style="font: 900; text-align:-webkit-center; ">@SharedLocalizer["Search result for"] "@Model.Term"</h1>
        </div>
        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
        {
        <h2 dir="rtl" class="md:text-4xl text-2xl font-semibold mb-10" style="font:900; padding-right:10%">@SharedLocalizer["Found in Words"]: </h2>
        }
        else
        {
        <h2 class="md:text-4xl text-2xl font-semibold mb-10" style="font:900; padding-left:10%">@SharedLocalizer["Found in Words"]: </h2>
        }
        <div class="row" style="padding-left: 10%; padding-right: 10%;">
            <div id="gridContainerWords">
            </div>
        </div>

    </div>
    <div class="col-sm-12">
        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
        {
        <h2 dir="rtl" class="md:text-4xl text-2xl font-semibold mb-10" style="font:900; padding-right:10%">@SharedLocalizer["Found in Phrasebook"]: </h2>
        }
        else
        {
        <h2 class="md:text-4xl text-2xl font-semibold mb-10" style="font:900; padding-left:10%">@SharedLocalizer["Found in Phrasebook"]: </h2>
        }
        <div class="row" style="padding-left: 10%; padding-right: 10%;">
            <div id="gridContainerClause">
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
            {
        <h2 dir="rtl" class="md:text-4xl text-2xl font-semibold mb-10" style="font:900; padding-right:10%">@SharedLocalizer["Found in Names"]: </h2>
            }
            else
            {
        <h2 class="md:text-4xl text-2xl font-semibold mb-10" style="font:900; padding-left:10%">@SharedLocalizer["Found in Names"]: </h2>
            }
        <div class="row" style="padding-left: 10%; padding-right: 10%;">
            <div id="gridContainerNames">
            </div>
        </div>
    </div>
    </div>

    @section Scripts{
        <script>
        $(function () {
            let url = `@API.SearchWords/@Model.Term/@Model.DictionaryId`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainerWords").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),

                onCellClick: function (e) {
                    if (e.columnIndex != 2) {
                        var idString = e.data.id;
                        var url = `@Url.Action("Details", "Words", new { Area = "" })`;
                        window.location = url + '?id=' + idString;
                    }
                },

                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },

                paging: {
                    pageSize: 15
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [10, 20, 40 ],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                loadPanel: {
                    enabled: true,
                },
                editing: {
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: false,
                    allowAdding: false
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                hoverStateEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },


                allowColumnReordering: false,

                columns: [

                    {
                        caption: '@SharedLocalizer["Arab Word"]',
                        dataField: "arabWord",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Türkmen Word"]',
                        dataField: "otherWord",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Voices"]',
                        dataField: 'arabVoiceFile',
                        width: 100,
                        cellTemplate(container, options) {
                            if (options.value) {
                                $('<div>', { class: 'cell' })
                                    .append($('<audio>', { id: options.value, })
                                        .append($('<source>', { src: 'https://localhost:5001/' + options.value, type: 'audio/mpeg' })))
                                    .append($('<button>', {
                                        class: 'btn btn-success', style: 'background-color:green; padding:20px;border-radius:15px;',
                                        onclick: 'playAudio(\'' + options.value + '\')',
                                        id: '_' + options.value,
                                        text: '@SharedLocalizer["Play"]',
                                        style: 'font-color:white'

                                    }, '@SharedLocalizer["Play"]</button>'))
                                    .appendTo(container);
                            } else {
                                $('<div>', { class: 'cell' })
                                    .append($('<label>', { text: '@SharedLocalizer["No audio voices"]' }))
                                    .appendTo(container);
                            }
                        },

                    },
                    {
                        type: "buttons",
                        width: 60,
                         caption: '@SharedLocalizer["Share"]',
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Share"]',
                                icon: "share",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("Share", "Words", new { Area = "" })`;
                                    window.location = url + '/' + idString;
                                }
                            },
                            "delete"
                        ]
                    }
                ]
            });
        });

        function playAudio(id) {

            var x = document.getElementById(id);
            var bt = document.getElementById('_' + id);
            if (bt.textContent == '@SharedLocalizer["Play"]') {
                x.play();
                bt.textContent = '@SharedLocalizer["Stop"]';
            } else {
                x.pause();
                bt.textContent = '@SharedLocalizer["Play"]';
            }

        }

        function pauseAudio(id) {

            var x = document.getElementById(id);
            x.pause();
        }

        </script>
        <script>
        $(function () {
            let url = `@API.SearchClauses/@Model.Term/@Model.DictionaryId`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainerClause").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),

                selection: {
                    mode: "multiple"
                },

                onRowClick: function (e) {
                     var idString = e.data.id;
                     var url = `@Url.Action("Details", "WordClauses", new { Area = "" })`;
                     window.location = url + '?id=' + idString;
                },
                "export": {
                    enabled: false,
                    fileName: "Documents",
                    allowExportSelectedData: false,
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 15
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [10, 20, 40],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                editing: {
                    useIcons: true,
                    allowUpdating: false,
                    allowDeleting: false,
                    allowAdding: false
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                hoverStateEnabled: true,
                searchPanel: {
                    visible: true
                },

                stateStoring: {
                    enabled: false,
                    type: "localStorage",
                    storageKey: "partnersAdmin"
                },
                allowColumnReordering: false,
                columns: [
                    {
                        caption: '@SharedLocalizer["Arab Clause"]',
                        dataField: "arabClause",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Reads in Türkmen"]',
                        dataField: "otherReader",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Türmen Clause"]',
                        dataField: "otherClause",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Reads in Arab"]',
                        dataField: "arabReader",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Category"]',
                        dataField: "categoryName",
                        allowHeaderFiltering: true
                    },

                ]
            });
        });

        </script>
        <script>
            $(function () {
                let url = `@API.SearchNames/@Model.Term/@Model.DictionaryId`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
                $("#gridContainerNames").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),

                onRowClick: function (e) {
                     var idString = e.data.id;
                     var url = `@Url.Action("Details", "Names", new { Area = "" })`;
                     window.location = url + '?id=' + idString;
                },

                "export": {
                    enabled: false,
                    fileName: "Documents",
                    allowExportSelectedData: false
                },

                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 15
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [10, 20, 40],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                editing: {
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: false,
                    allowAdding: false
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                hoverStateEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },

                stateStoring: {
                    enabled: false,
                    type: "localStorage",
                    storageKey: "partnersAdmin"
                },
                allowColumnReordering: false,
                columns: [
                    {
                        caption: '@SharedLocalizer["Arab Name"]',
                        dataField: "arabName",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Türkmen Name"]',
                        dataField: "otherName",
                        allowHeaderFiltering: true
                    },

                    {
                        type: "buttons",
                        width: 60,
                        caption: '@SharedLocalizer["Share"]',
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Share"]',
                                icon: "share",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("Share", "Names", new { Area = "" })`;
                                    window.location = url + '/' + idString;
                                }
                            },
                        ]
                    }
                ]
            });
        });
        </script>
    }
