@{
    ViewData["Title"] = "Index";

}
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using DAL.Models.Dto.NamesDTO
@using ARINLAB.Models
@model List<DAL.Models.Dto.NamesDTO.NameImagesDto>
@{
    NamesImagesViewModel mod = (NamesImagesViewModel)ViewBag.Model;
    bool res = false;
    if (ViewBag.RatingResult != null)
        res = (bool)ViewBag.RatingResult;

}

@await Component.InvokeAsync("OtherMenu")

<div id="news_icons"  class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
    <div class="flex justify-between" style="width: 140px;">
        <a href=""><img src="~/images/Icons/Bug.svg"></a>
        <a href=""><img src="~/images/Icons/Print.svg"></a>
        <a href=""><img src="~/images/Icons/Copy_link.svg"></a>
        <a href=""><img src="~/images/Icons/Share_black.svg"></a>           
    </div>
    <div class="flex justify-between align-center" style="width: 220px;">
        <a href=""><img src="~/images/Icons/Eye.svg"></a>
        <small style="margin-right: 15px;">16879</small>
        <div id="full-stars-example">
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>
</div>
    </div>
</div>
<div id="words_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 50px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 15px; font-size: 18px;">
    <div class="wrapper">
        <div class="justify-between flex flex-row px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Word in Turkmen:</h3>
            <h3 style="font-weight: bold;">Word in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg"> Mugallym</p>
            <p>Moallem <img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
    </div>
</div>

<div id="names_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 60px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 15px; font-size: 18px;">
      <div class="wrapper">
        <div class="album text-center px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Album:</h3>
        </div>
  <div class="wrapper flex justify-between" style="padding: 20px;">
       <div style="object-fit: cover; width: 320px; height: 250px;">
           <img style="width: 100%; height: 100%; border: 1px solid silver; border-radius: 15px; cursor: pointer;" src="~/images/News/d2c8e502768b443f8b0020ab88060bf8.jpg">
           <div class="flex justify-around align-center px-3"> 
               <a href="" class="px-3"><img src="~/images/Icons/Share_black.svg"></a>  
            <a href="" class="px-3"><img src="~/images/Icons/Eye.svg"></a>
            <small style="margin-right: 15px;" class="px-3">16879</small>
            <div id="full-stars-example">
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>
</div>
        </div>
       </div>
       <div class="names_img" style="object-fit: cover; width: 320px; height: 250px;">
           <img style="width: 100%; height: 100%; border: 1px solid silver; border-radius: 15px; cursor: pointer;" src="~/images/News/d2c8e502768b443f8b0020ab88060bf8.jpg">
           <div class="flex justify-around align-center px-3">
               <a href="" class="px-3"><img src="~/images/Icons/Share_black.svg"></a>  
            <a href="" class="px-3"><img src="~/images/Icons/Eye.svg"></a>
            <small style="margin-right: 15px;" class="px-3">16879</small>
            <div id="full-stars-example">
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>
</div>
        </div>
       </div>
    </div>
    <div class="wrapper flex justify-between" style="margin-top: 30px; padding: 20px;">
       <div class="names_img" style="object-fit: cover; width: 320px; height: 250px;">
           <img style="width: 100%; height: 100%; border: 1px solid silver; border-radius: 15px; cursor: pointer;" src="~/images/News/d2c8e502768b443f8b0020ab88060bf8.jpg">
           <div class="flex justify-around align-center px-3">
               <a href="" class="px-3"><img src="~/images/Icons/Share_black.svg"></a>  
            <a href="" class="px-3"><img src="~/images/Icons/Eye.svg"></a>
            <small style="margin-right: 15px;" class="px-3">16879</small>
            <div id="full-stars-example">
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>
</div>
        </div>
       </div>
       <div class="names_img" style="object-fit: cover; width: 320px; height: 250px;">
           <img style="width: 100%; height: 100%; border: 1px solid silver; border-radius: 15px; cursor: pointer;" src="~/images/News/d2c8e502768b443f8b0020ab88060bf8.jpg">
           <div class="flex justify-around align-center px-3">
               <a href="" class="px-3"><img src="~/images/Icons/Share_black.svg"></a>  
            <a href="" class="px-3"><img src="~/images/Icons/Eye.svg"></a>
            <small style="margin-right: 15px;" class="px-3">16879</small>
            <div id="full-stars-example">
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>
</div>
        </div>
       </div>
    </div>
</div>

@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    @* <div dir="rtl" class="flex justify-between flex-col xl:flex-row py-10 h-full xl:mb-0 blog">
        <div class="h-full xl:container xl:px-0 px-4">
            <a href="@((string)ViewBag.ExportImage)" ><i style="position:fixed" class="fas fa-file-export">@SharedLocalizer["Export"]</i></a>
            <div class="row" style="margin-right:35%">
                <div class="col-2"></div>
                <div class="col-4 items-center">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Name in Arab"]: </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@mod.ArabName</label>
                </div>
                <div class=" col-4">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Name in"] @mod.DictName: </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@mod.OtherName</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div dir="ltr" style="margin-top:20px;margin-left:40%">
                <form asp-controller="Names" asp-action="SetRating" id="rtng" method="post">
                    <input id="kartik" name="Rating" value="@(ViewBag.Rating)" class="rating" data-stars="5" data-step="0.1" title="" />
                    <input type="hidden" value="@mod.Id" name="NameId" />
                </form>
            </div> *@

            @*<div dir="ltr" style="margin-top:30px;margin-left:40%">
                <form asp-controller="Names" asp-action="SetRating" method="post">
                    <input id="kartik" name="Rating" class="rating" data-stars="5" data-step="0.1" title="" />
                    <input type="hidden" value="@mod.Id" name="NameId" />
                    <div class="form-group" style="margin-top:10px">
                        <button type="submit" class="bg-secondary text-white sm:rounded-none rounded px-8 py-3 font-semibold text-center cursor-pointer select-none">@SharedLocalizer["Submit your Rating"]</button>
                    </div>
                </form>
            </div>*@
            @* <div class="mt-8 mb-16">
                <div class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-y-8 sm:gap-4 pb-8">
                    @foreach (var name in Model)
                    {
                        <div class="rounded flex flex-col max-w-xs relative overflow-hidden">
                            <img src="~/images/Names/@name.ImageUri" alt="" class="object-cover">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> *@
}
else
{
    @* <div class="flex justify-between flex-col xl:flex-row py-10 h-full xl:mb-0 blog">
        <div class="h-full xl:container xl:px-0 px-4">
            <a href="@((string)ViewBag.ExportImage)"><i style="position:fixed" class="fas fa-file-export">@SharedLocalizer["Export"]</i></a>
            <div class="row" style="margin-left:35%">
                <div class="col-2"></div>
                <div class="col-4 items-center">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Name in Arab"] </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@mod.ArabName</label>
                </div>
                <div class=" col-4">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Name in"] @mod.DictName: </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@mod.OtherName</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div style="margin-top:20px;margin-left:40%">
                <form asp-controller="Names" asp-action="SetRating" id="rtng" method="post">
                    <input id="kartik" name="Rating" value="@(ViewBag.Rating)" class="rating" data-stars="5" data-step="0.1" title="" />
                    <input type="hidden" value="@mod.Id" name="NameId" />
                 </form>               
            </div> *@

            @*<div style="margin-top:30px;margin-left:40%">
                <form asp-controller="Names" asp-action="SetRating" method="post">
                    <input id="kartik" name="Rating" class="rating" data-stars="5" data-step="0.1" title="" />
                    <input type="hidden" value="@mod.Id" name="NameId" />
                    <div class="form-group" style="margin-top:10px">
                        <button type="submit" class="bg-secondary text-white sm:rounded-none rounded px-8 py-3 font-semibold text-center cursor-pointer select-none">@SharedLocalizer["Submit your Rating"]</button>
                    </div>
                </form>
            </div>*@


            @* <div class="mt-8 mb-16">
                <div class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-y-8 sm:gap-4 pb-8">
                    @foreach (var name in Model)
                    {
                        <div class="rounded flex flex-col max-w-xs relative overflow-hidden">
                            <img src="~/images/Names/@name.ImageUri" alt="" class="object-cover">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> *@
}


<button id="btn" hidden></button>
@section Scripts{
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script> -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script> -->
    <script src="/dist/simple-notify.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/OverlayScrollbars.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
         const btn = document.querySelector('#btn')

        btn.addEventListener('click', () => {
            new Notify({
                status: 'success',
                title: '@SharedLocalizer["Thank you"]',
                text: '@SharedLocalizer["Your rating have been successfully recorded"]',
                effect: 'fade',
                speed: 300,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: true,
                autoclose: false,
                autotimeout: 3000,
                gap: 60,
                distance: 20,
                type: 1,
                position: 'right top',
                customWrapper: '',
            })
        });

    </script>
    @if (res)
    {
        <script>
            document.getElementById("btn").click();
        </script>
    }
}
