@{
    ViewData["Title"] = SharedLocalizer["Name Details"];

}
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using DAL.Models.Dto.NamesDTO
@using ARINLAB.Models
@model List<DAL.Models.Dto.NamesDTO.NameImagesDto>
@inject ARINLAB.Services.SessionService.UserDictionary _userDict;
@{
    NamesImagesViewModel mod = (NamesImagesViewModel)ViewBag.Model;
    bool res = false;
    int rating = (int)ViewBag.Rating;
    if (ViewBag.RatingResult != null)
        res = (bool)ViewBag.RatingResult;

}

@await Component.InvokeAsync("HeaderMenu")

<div id="news_icons" class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
    <div class="flex justify-between">
        @*<a href="#" onclick="OpenBag()"><img src="~/images/Icons/Bug.svg"></a>*@
        <a href="#ex4" rel="modal:open" style="margin-right:15px;"><img src="~/images/Icons/Bug.svg"></a>
        <a href="#" onclick="window.print()" style="margin-right:15px;"><img src="~/images/Icons/Print.svg"></a>
        <a href="#" onclick="CopyLink()" style="margin-right:15px;"><img src="~/images/Icons/Copy_link.svg"></a>
        <a href="@((string)ViewBag.ExportImage)" download style="margin-right:15px;"><img src="~/images/Icons/Share_black.svg"></a>
        <a asp-controller="Names" asp-action="Indexall" title="@SharedLocalizer["Names Collection"] "><i class="fa fa-list"></i></a>
    </div>
    <div class="flex justify-between align-center" style="width: 220px;">
        <img src="~/images/Icons/Eye.svg">
        <small style="margin-right: 15px;">@mod.Viewed</small>
        <div id="full-stars-example">
            <div class="rating-group">
                <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-1" value="1" type="radio" onclick="httpGet('@Url.Action("SetRating", "Names")?Rating=1&NameId=@mod.Id')" @(rating == 1 ? "checked" : "")>
                <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-2" value="2" type="radio" onclick="httpGet('@Url.Action("SetRating", "Names")?Rating=2&NameId=@mod.Id')" @(rating == 2 ? "checked" : "")>
                <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" onclick="httpGet('@Url.Action("SetRating", "Names")?Rating=3&NameId=@mod.Id')" @(rating == 3 ? "checked" : "")>
                <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-4" value="4" type="radio" onclick="httpGet('@Url.Action("SetRating", "Names")?Rating=4&NameId=@mod.Id')" @(rating == 4 ? "checked" : "")>
                <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-5" value="5" type="radio" onclick="httpGet('@Url.Action("SetRating", "Names")?Rating=5&NameId=@mod.Id')" @(rating == 5 ? "checked" : "")>
            </div>
        </div>
    </div>
</div>
<div id="words_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 50px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 15px; font-size: 18px;">
    <div class="wrapper">
        <div class="justify-between flex flex-row px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">@SharedLocalizer["Name in"] @Html.Raw(_userDict.GetDictionaryName()):</h3>
            <h3 style="font-weight: bold;">@SharedLocalizer["Name in Arabic"]:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <audio id="myAudio@(mod.Id)">
                <source src="~/@mod.OtherVoice" type="audio/mpeg">
            </audio>
            <p>
                @if (!string.IsNullOrEmpty(mod.OtherVoice))
                {
                    <img style="padding-right: 10px; margin-left: 40px; cursor: pointer" src="@(CultureInfo.CurrentCulture.Name.StartsWith("ar") ? "/images/Icons/Voice_R.svg" : "/images/Icons/Voice_L.svg")" onclick="playAudio('myAudio@(mod.Id)')">
                }
                else
                {
                    <img style="padding-right: 0px; margin-left: 40px; cursor: pointer" />
                }
                @mod.OtherName
            </p>
            <audio id="myAudio@(mod.Id)_o">
                <source src="~/@mod.ArabVoice" type="audio/mpeg">
            </audio>
            <p>
                @mod.ArabName
                @if (!string.IsNullOrEmpty(mod.ArabVoice))
                {
                    <img style="padding-left: 10px; padding-right: 40px; cursor:pointer" src="@(CultureInfo.CurrentCulture.Name.StartsWith("ar") ? "/images/Icons/Voice_L.svg" : "/images/Icons/Voice_R.svg")" onclick="playAudio('myAudio@(mod.Id)_o')">
                }
                else
                {
                    <img style="padding-left: 10px; padding-right: 30px; cursor:pointer" />
                }
            </p>
        </div>
    </div>
</div>

<div id="names_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 60px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 15px; font-size: 18px;">
    <div class="wrapper">
        <div class="album text-center px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">@SharedLocalizer["Album"]:</h3>
        </div>
        @if (Model.Count > 0)
        {

            <div class="wrapper flex justify-between" style="padding: 20px;">
                <div style="object-fit: cover; width: 320px; height: 250px;">
                    <a target="_blank" asp-controller="Names" asp-action="NameImageView" asp-route-imageId="@Model[0].Id" asp-route-imageUrl="@Model[0].ImageUri">
                        <img style="width: 100%; height: 100%; border: 1px solid silver; border-radius: 15px; cursor: pointer;" src="~/images/Names/@Model[0].ImageUri">
                    </a>
                    <div class="flex justify-around align-center px-3">
                        <a href="~/images/Names/@Model[0].ImageUri" class="px-3" download><img src="~/images/Icons/Share_black.svg"></a>
                        <img src="~/images/Icons/Eye.svg">
                        <small style="margin-right: 15px;" class="px-3">@Model[0].Viewed</small>
                    </div>
                </div>
                @if (Model.Count > 1)
                {
                    <div class="names_img" style="object-fit: cover; width: 320px; height: 250px;">
                        <a target="_blank" asp-controller="Names" asp-action="NameImageView" asp-route-imageId="@Model[1].Id" asp-route-imageUrl="@Model[1].ImageUri">
                            <img style="width: 100%; height: 100%; border: 1px solid silver; border-radius: 15px; cursor: pointer;" src="~/images/Names/@Model[1].ImageUri">
                        </a>
                        <div class="flex justify-around align-center px-3">
                            <a href="~/images/Names/@Model[1].ImageUri" class="px-3" download><img src="~/images/Icons/Share_black.svg"></a>
                            <img src="~/images/Icons/Eye.svg">
                            <small style="margin-right: 15px;" class="px-3">@Model[1].Viewed</small>
                        </div>
                    </div>
                }
            </div>

            @for (int i = 2; i < Model.Count; i++)
            {
                <div class="wrapper flex justify-between" style="margin-top: 30px; padding: 20px;">
                    <div class="names_img" style="object-fit: cover; width: 320px; height: 250px;">
                        <a target="_blank" asp-controller="Names" asp-action="NameImageView" asp-route-imageId="@Model[i].Id" asp-route-imageUrl="@Model[i].ImageUri">
                            <img style="width: 100%; height: 100%; border: 1px solid silver; border-radius: 15px; cursor: pointer;" src="~/images/Names/@Model[i].ImageUri">
                        </a>
                        <div class="flex justify-around align-center px-3">
                            <a href="~/images/Names/@Model[i].ImageUri" class="px-3" download><img src="~/images/Icons/Share_black.svg"></a>
                            <img src="~/images/Icons/Eye.svg">
                            <small style="margin-right: 15px;" class="px-3">@Model[i].Viewed</small>
                        </div>
                    </div>
                    @if (Model.Count - 1 >= (i + 1))
                    {

                        i = i + 1;

                        <div class="names_img" style="object-fit: cover; width: 320px; height: 250px;">
                            <a target="_blank" asp-controller="Names" asp-action="NameImageView" asp-route-imageId="@Model[i].Id" asp-route-imageUrl="@Model[i].ImageUri">
                                <img style="width: 100%; height: 100%; border: 1px solid silver; border-radius: 15px; cursor: pointer;" src="~/images/Names/@Model[i].ImageUri">
                            </a>
                            <div class="flex justify-around align-center px-3">
                                <a href="~/images/Names/@Model[i].ImageUri" class="px-3" download><img src="~/images/Icons/Share_black.svg"></a>
                                <img src="~/images/Icons/Eye.svg">
                                <small style="margin-right: 15px;" class="px-3">@Model[i].Viewed</small>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    @* <div dir="rtl" class="flex justify-between flex-col xl:flex-row py-10 h-full xl:mb-0 blog">
        <div class="h-full xl:container xl:px-0 px-4">
            <a href="@((string)ViewBag.ExportImage)" ><i style="position:fixed" class="fas fa-file-export">@SharedLocalizer["Export"]</i></a>
            <div class="row" style="margin-right:35%">
                <div class="col-2"></div>
                <div class="col-4 items-center">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Name in Arab"]: </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@mod.ArabName</label>
                </div>
                <div class=" col-4">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Name in"] @mod.DictName: </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@mod.OtherName</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div dir="ltr" style="margin-top:20px;margin-left:40%">
                <form asp-controller="Names" asp-action="SetRating" id="rtng" method="post">
                    <input id="kartik" name="Rating" value="@(ViewBag.Rating)" class="rating" data-stars="5" data-step="0.1" title="" />
                    <input type="hidden" value="@mod.Id" name="NameId" />
                </form>
            </div> *@

    @*<div dir="ltr" style="margin-top:30px;margin-left:40%">
            <form asp-controller="Names" asp-action="SetRating" method="post">
                <input id="kartik" name="Rating" class="rating" data-stars="5" data-step="0.1" title="" />
                <input type="hidden" value="@mod.Id" name="NameId" />
                <div class="form-group" style="margin-top:10px">
                    <button type="submit" class="bg-secondary text-white sm:rounded-none rounded px-8 py-3 font-semibold text-center cursor-pointer select-none">@SharedLocalizer["Submit your Rating"]</button>
                </div>
            </form>
        </div>*@
    @* <div class="mt-8 mb-16">
                    <div class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-y-8 sm:gap-4 pb-8">
                        @foreach (var name in Model)
                        {
                            <div class="rounded flex flex-col max-w-xs relative overflow-hidden">
                                <img src="~/images/Names/@name.ImageUri" alt="" class="object-cover">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div> *@
}
else
{
    @* <div class="flex justify-between flex-col xl:flex-row py-10 h-full xl:mb-0 blog">
        <div class="h-full xl:container xl:px-0 px-4">
            <a href="@((string)ViewBag.ExportImage)"><i style="position:fixed" class="fas fa-file-export">@SharedLocalizer["Export"]</i></a>
            <div class="row" style="margin-left:35%">
                <div class="col-2"></div>
                <div class="col-4 items-center">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Name in Arab"] </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@mod.ArabName</label>
                </div>
                <div class=" col-4">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Name in"] @mod.DictName: </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@mod.OtherName</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div style="margin-top:20px;margin-left:40%">
                <form asp-controller="Names" asp-action="SetRating" id="rtng" method="post">
                    <input id="kartik" name="Rating" value="@(ViewBag.Rating)" class="rating" data-stars="5" data-step="0.1" title="" />
                    <input type="hidden" value="@mod.Id" name="NameId" />
                 </form>
            </div> *@

    @*<div style="margin-top:30px;margin-left:40%">
            <form asp-controller="Names" asp-action="SetRating" method="post">
                <input id="kartik" name="Rating" class="rating" data-stars="5" data-step="0.1" title="" />
                <input type="hidden" value="@mod.Id" name="NameId" />
                <div class="form-group" style="margin-top:10px">
                    <button type="submit" class="bg-secondary text-white sm:rounded-none rounded px-8 py-3 font-semibold text-center cursor-pointer select-none">@SharedLocalizer["Submit your Rating"]</button>
                </div>
            </form>
        </div>*@


    @* <div class="mt-8 mb-16">
                    <div class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-y-8 sm:gap-4 pb-8">
                        @foreach (var name in Model)
                        {
                            <div class="rounded flex flex-col max-w-xs relative overflow-hidden">
                                <img src="~/images/Names/@name.ImageUri" alt="" class="object-cover">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div> *@
}


@section Scripts{
    <script>
                var r = '@ViewBag.Bag'

        if (r === 'success') {
            alert('@SharedLocalizer["Thank you for your report!!!"]');
            document.getElementById("bag").click();
        } else if (r === 'bagerror') {
            alert('@SharedLocalizer["Some thing went wrong, you may forget click reCAPTCHA!!!"]');
            document.getElementById("bagerror").click();
        }
                function playAudio(id) {
                    var x = document.getElementById(id);
                    x.play();
                }
                function httpGet(theUrl) {
                    document.getElementById("success").click();
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.open("GET", theUrl, true); // false for synchronous request
                    xmlHttp.send(null);
                    xmlHttp.responseText
                    return null;
                }
    </script>
}
