@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject ARINLAB.Services.SessionService.UserDictionary _userDict;


@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <div class="text-white mr-10 select-none select-box relative h-full flex items-center" id="select-box"
         style=" padding-right: 150px;">
        <div class="pl-3 text-center flex items-center z-10 cursor`-pointer"
             style="height: 35px; width: 200px; background-color: white; margin: 15px; border-radius: 9px; color: black; text-align: center;">

            <span class="flex uppercase" style="font-size: 20px;">
                <img src="/images/flags/sa.svg" class="" style="max-width: 30%; margin-right: 10px;" />
                @*@foreach (var lng in lngListItem)
            {
                <a asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
                   asp-route-value="@Context.Request.QueryString" asp-route-culture="@lng.Value" data-link="#"
                   class="py-3 pr-2" style="display: block;">
                    @lng.Value
            </a>
            <span style="font-size:large;">|</span>
        }*@
                <a data-link="#" class="py-3 pr-2" style="display: block;">
                    AR
                </a>
                <a data-link="#" class="py-3 pr-2" style="display: block;">
                    |
                </a>
                <a data-link="#" class="py-3 pr-2" style="display: block;">
                    @_userDict.GetDictionaryName()
                </a>
            </span>

        </div>
    </div>
}
else
{

<div class="text-white mr-10 select-none select-box relative h-full flex items-center" id="select-box"
         style=" padding-right: 150px;">
        <div class="pl-3 text-center flex items-center z-10 cursor`-pointer"
             style="height: 35px; width: 200px; background-color: white; margin: 15px; border-radius: 9px; color: black; text-align: center;">
           
            <span class="flex uppercase" style="font-size: 20px;">
                @if (CultureInfo.CurrentCulture.Name.StartsWith("en"))
                {
                    <img src="/images/flags/us.svg" class="" style="max-width:30%; margin-right:10px" />
                    <a data-link="#" class="py-3 pr-2" style="display: block;">
                        EN
                    </a>
                    <a data-link="#" class="py-3 pr-2" style="display: block;">
                        |
                    </a>
                    <a data-link="#" class="py-3 pr-2" style="display: block;">
                        @_userDict.GetDictionaryName()
                    </a>
                }
                else
                {
                    <img src="/images/flags/tm.svg" class="" style="max-width: 30%; margin-right: 10px" />
                    <a data-link="#" class="py-3 pr-2" style="display: block;">
                        EN
                    </a>
                    <a data-link="#" class="py-3 pr-2" style="display: block;">
                        |
                    </a>
                    <a data-link="#" class="py-3 pr-2" style="display: block;">
                        @{ 
                            string s = _userDict.GetDictionaryName();
                            s = s.Substring(0, s.Length - 2);
                        }
                        @s
                    </a>
                }
            </span>
            
        </div>
    </div>
}