@using Microsoft.AspNetCore.Mvc.Localization
@using ARINLAB.Areas.Admin.Utils
@using System.Globalization
@using ARINLAB.Services.SessionService

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer localizer

@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    List<DAL.Models.Dto.NewsModelDTO.NewsDTO> news = (List<DAL.Models.Dto.NewsModelDTO.NewsDTO>)ViewBag.News;
    var dicts = ViewBag.Dictionaries;

}

@{
    int totalUsers = Model.StatistiCards[0].Editers + Model.StatistiCards[1].Editers + Model.StatistiCards[2].Editers + Model.StatistiCards[3].Editers;
}
@await Component.InvokeAsync("HeaderMenu")
<div class="flex justify-between flex-col xl:flex-row py-10 h-full xl:mb-0 blog">
    <!-- ******************** ADVERTISMENT LEFT  ********************-->
    <div dir="ltr" class="flex-grow xl:w-2/12 xl:mr-2 mb-16 xl:mb-0 relative adt-center overflow-hidden" style="margin-top:25%">
        <div class="adv-slider-left adv-slider flex xl:w-full">
            <img @(CultureInfo.CurrentCulture.Name.StartsWith("ar") ? "style=transform:rotateY(180deg)" : "") class="avdertisment-item advertisment-left img-center border-radius7 object-cover img-padding10"
                 data-desk="../images/Безимени-3.gif"
                 data-mobile="" />
        </div>
    </div>
    <!-- ******************** ADVERTISMENT LEFT  ********************-->
    <!-- ******************** Start Words Section ********************-->
    <div class="xl:w-8/12 xl:px-0 px-4 flex-grow">

        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
        {
    <a asp-controller="Words" asp-action="Indexall">
        <h2 class="e-link md:text-4xl text-2xl font-semibold mb-10 flex"  style="font:900; cursor: pointer;">
            <span style="padding-top: 16px; padding-right: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#282848" xml:space="preserve" width="27px" height="27px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                     viewBox="0 0 7.84 10.21"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
                <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <g id="_2065671225024">
                <path class="fil0" d="M1.3 0l5.24 0c0.71,0 1.3,0.58 1.3,1.3l0 7.62c0,0.71 -0.58,1.3 -1.3,1.3l-5.24 0c-0.71,0 -1.3,-0.58 -1.3,-1.3l0 -7.62c0,-0.71 0.58,-1.3 1.3,-1.3zm0 0.77l5.24 0c0.29,0 0.53,0.24 0.53,0.53l0 7.62c0,0.29 -0.24,0.53 -0.53,0.53l-5.24 0c-0.29,0 -0.53,-0.24 -0.53,-0.53l0 -7.62c0,-0.29 0.24,-0.53 0.53,-0.53z" />
                <rect class="fil0" x="1.58" y="2.38" width="0.79" height="0.78" />
                <rect class="fil0" x="3.15" y="2.38" width="3.13" height="0.78" />
                <rect class="fil0" x="1.58" y="3.93" width="0.79" height="0.78" />
                <rect class="fil0" x="3.15" y="3.93" width="2.71" height="0.78" />
                <rect class="fil0" x="1.58" y="5.47" width="0.79" height="0.78" />
                <rect class="fil0" x="3.15" y="5.47" width="3.13" height="0.78" />
                <rect class="fil0" x="1.58" y="7.02" width="0.79" height="0.78" />
                <rect class="fil0" x="3.15" y="7.02" width="2.71" height="0.78" />
                </g>
                </g>
            </svg>
            </span>
            @SharedLocalizer["Words Collection"]
        </h2>
    </a>
        }
        else
        {
    <a asp-controller="Words" asp-action="Indexall">
        <h2 class="e-link md:text-4xl text-2xl font-semibold mb-10 flex"  style="font:900; cursor: pointer;">
            <span style="padding-top: 16px; padding-right: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#282848" xml:space="preserve" width="27px" height="27px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                     viewBox="0 0 7.84 10.21"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
                <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer" />
                <g id="_2065671225024">
                <path class="fil0" d="M1.3 0l5.24 0c0.71,0 1.3,0.58 1.3,1.3l0 7.62c0,0.71 -0.58,1.3 -1.3,1.3l-5.24 0c-0.71,0 -1.3,-0.58 -1.3,-1.3l0 -7.62c0,-0.71 0.58,-1.3 1.3,-1.3zm0 0.77l5.24 0c0.29,0 0.53,0.24 0.53,0.53l0 7.62c0,0.29 -0.24,0.53 -0.53,0.53l-5.24 0c-0.29,0 -0.53,-0.24 -0.53,-0.53l0 -7.62c0,-0.29 0.24,-0.53 0.53,-0.53z" />
                <rect class="fil0" x="1.58" y="2.38" width="0.79" height="0.78" />
                <rect class="fil0" x="3.15" y="2.38" width="3.13" height="0.78" />
                <rect class="fil0" x="1.58" y="3.93" width="0.79" height="0.78" />
                <rect class="fil0" x="3.15" y="3.93" width="2.71" height="0.78" />
                <rect class="fil0" x="1.58" y="5.47" width="0.79" height="0.78" />
                <rect class="fil0" x="3.15" y="5.47" width="3.13" height="0.78" />
                <rect class="fil0" x="1.58" y="7.02" width="0.79" height="0.78" />
                <rect class="fil0" x="3.15" y="7.02" width="2.71" height="0.78" />
                </g>
                </g>
            </svg>
            </span>
            @SharedLocalizer["Words Collection"]
        </h2>
    </a>
        }
        <div class="row">
            <div style="touch-action:manipulation" id="gridContainer">
            </div>
            <div class="row">
                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                {
                <a asp-area="" asp-controller="WordClauses" asp-action="Indexall">
                    <h2 dir="rtl" class="e-link md:text-4xl text-2xl font-semibold mb-10 flex" style="font:900; padding-top:4rem; cursor: pointer;">
                        <span style="padding-top: 16px; padding-right: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#282848" xml:space="preserve" width="27px" height="27px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                 viewBox="0 0 7.84 10.21"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
                            <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer" />
                            <g id="_2065671225024">
                            <path class="fil0" d="M1.3 0l5.24 0c0.71,0 1.3,0.58 1.3,1.3l0 7.62c0,0.71 -0.58,1.3 -1.3,1.3l-5.24 0c-0.71,0 -1.3,-0.58 -1.3,-1.3l0 -7.62c0,-0.71 0.58,-1.3 1.3,-1.3zm0 0.77l5.24 0c0.29,0 0.53,0.24 0.53,0.53l0 7.62c0,0.29 -0.24,0.53 -0.53,0.53l-5.24 0c-0.29,0 -0.53,-0.24 -0.53,-0.53l0 -7.62c0,-0.29 0.24,-0.53 0.53,-0.53z" />
                            <rect class="fil0" x="1.58" y="2.38" width="0.79" height="0.78" />
                            <rect class="fil0" x="3.15" y="2.38" width="3.13" height="0.78" />
                            <rect class="fil0" x="1.58" y="3.93" width="0.79" height="0.78" />
                            <rect class="fil0" x="3.15" y="3.93" width="2.71" height="0.78" />
                            <rect class="fil0" x="1.58" y="5.47" width="0.79" height="0.78" />
                            <rect class="fil0" x="3.15" y="5.47" width="3.13" height="0.78" />
                            <rect class="fil0" x="1.58" y="7.02" width="0.79" height="0.78" />
                            <rect class="fil0" x="3.15" y="7.02" width="2.71" height="0.78" />
                </g>
                </g>
            </svg>
                        </span>
                        @SharedLocalizer["Words Clauses Collection"]
                    </h2>
                </a>
                }
                else
                {
            <a asp-area="" asp-controller="WordClauses" asp-action="Indexall">
                <h2 class="e-link md:text-4xl text-2xl font-semibold mb-10 flex" style="font:900; padding-top:4rem; cursor: pointer;">
                    <span style="padding-top: 16px; padding-right: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#282848" xml:space="preserve" width="27px" height="27px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                             viewBox="0 0 7.84 10.21"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
                        <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer" />
                        <g id="_2065671225024">
                        <path class="fil0" d="M1.3 0l5.24 0c0.71,0 1.3,0.58 1.3,1.3l0 7.62c0,0.71 -0.58,1.3 -1.3,1.3l-5.24 0c-0.71,0 -1.3,-0.58 -1.3,-1.3l0 -7.62c0,-0.71 0.58,-1.3 1.3,-1.3zm0 0.77l5.24 0c0.29,0 0.53,0.24 0.53,0.53l0 7.62c0,0.29 -0.24,0.53 -0.53,0.53l-5.24 0c-0.29,0 -0.53,-0.24 -0.53,-0.53l0 -7.62c0,-0.29 0.24,-0.53 0.53,-0.53z" />
                        <rect class="fil0" x="1.58" y="2.38" width="0.79" height="0.78" />
                        <rect class="fil0" x="3.15" y="2.38" width="3.13" height="0.78" />
                        <rect class="fil0" x="1.58" y="3.93" width="0.79" height="0.78" />
                        <rect class="fil0" x="3.15" y="3.93" width="2.71" height="0.78" />
                        <rect class="fil0" x="1.58" y="5.47" width="0.79" height="0.78" />
                        <rect class="fil0" x="3.15" y="5.47" width="3.13" height="0.78" />
                        <rect class="fil0" x="1.58" y="7.02" width="0.79" height="0.78" />
                        <rect class="fil0" x="3.15" y="7.02" width="2.71" height="0.78" />
                </g>
                </g>
            </svg>
                    </span>
                    @SharedLocalizer["Words Clauses Collection"]
                </h2>
            </a>
                }

                <div id="gridContainer1">
                </div>
            </div>
            <div class="row">
                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                {
                    <a  asp-area="" asp-controller="Names" asp-action="Indexall">
                    <h2 dir="rtl" class="e-link md:text-4xl text-2xl font-semibold mb-10 flex" style="font:900; padding-top:4rem; cursor: pointer;">
                        <span style="padding-top: 16px; padding-right: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#282848" xml:space="preserve" width="27px" height="27px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                 viewBox="0 0 7.84 10.21"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
                            <g id="Layer_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer" />
                            <g id="_2065671225024">
                            <path class="fil0" d="M1.3 0l5.24 0c0.71,0 1.3,0.58 1.3,1.3l0 7.62c0,0.71 -0.58,1.3 -1.3,1.3l-5.24 0c-0.71,0 -1.3,-0.58 -1.3,-1.3l0 -7.62c0,-0.71 0.58,-1.3 1.3,-1.3zm0 0.77l5.24 0c0.29,0 0.53,0.24 0.53,0.53l0 7.62c0,0.29 -0.24,0.53 -0.53,0.53l-5.24 0c-0.29,0 -0.53,-0.24 -0.53,-0.53l0 -7.62c0,-0.29 0.24,-0.53 0.53,-0.53z" />
                            <rect class="fil0" x="1.58" y="2.38" width="0.79" height="0.78" />
                            <rect class="fil0" x="3.15" y="2.38" width="3.13" height="0.78" />
                            <rect class="fil0" x="1.58" y="3.93" width="0.79" height="0.78" />
                            <rect class="fil0" x="3.15" y="3.93" width="2.71" height="0.78" />
                            <rect class="fil0" x="1.58" y="5.47" width="0.79" height="0.78" />
                            <rect class="fil0" x="3.15" y="5.47" width="3.13" height="0.78" />
                            <rect class="fil0" x="1.58" y="7.02" width="0.79" height="0.78" />
                            <rect class="fil0" x="3.15" y="7.02" width="2.71" height="0.78" />
                </g>
                </g>
            </svg>
                        </span>
                        @SharedLocalizer["Names Collection"]
                    </h2>
                        </a>
                }
                else
                {
            <a asp-area="" asp-controller="Names" asp-action="Indexall">
                <h2 class="e-link md:text-4xl text-2xl font-semibold mb-10 flex" style="font:900; padding-top:4rem; cursor: pointer;">
                    <span style="padding-top: 16px; padding-right: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#282848" xml:space="preserve" width="27px" height="27px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                             viewBox="0 0 7.84 10.21"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             xmlns:xodm="http://www.corel.com/coreldraw/odm/2003">
                        <g id="Layer_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer" />
                        <g id="_2065671225024">
                        <path class="fil0" d="M1.3 0l5.24 0c0.71,0 1.3,0.58 1.3,1.3l0 7.62c0,0.71 -0.58,1.3 -1.3,1.3l-5.24 0c-0.71,0 -1.3,-0.58 -1.3,-1.3l0 -7.62c0,-0.71 0.58,-1.3 1.3,-1.3zm0 0.77l5.24 0c0.29,0 0.53,0.24 0.53,0.53l0 7.62c0,0.29 -0.24,0.53 -0.53,0.53l-5.24 0c-0.29,0 -0.53,-0.24 -0.53,-0.53l0 -7.62c0,-0.29 0.24,-0.53 0.53,-0.53z" />
                        <rect class="fil0" x="1.58" y="2.38" width="0.79" height="0.78" />
                        <rect class="fil0" x="3.15" y="2.38" width="3.13" height="0.78" />
                        <rect class="fil0" x="1.58" y="3.93" width="0.79" height="0.78" />
                        <rect class="fil0" x="3.15" y="3.93" width="2.71" height="0.78" />
                        <rect class="fil0" x="1.58" y="5.47" width="0.79" height="0.78" />
                        <rect class="fil0" x="3.15" y="5.47" width="3.13" height="0.78" />
                        <rect class="fil0" x="1.58" y="7.02" width="0.79" height="0.78" />
                        <rect class="fil0" x="3.15" y="7.02" width="2.71" height="0.78" />
                </g>
                </g>
            </svg>
                    </span>
                    @SharedLocalizer["Names Collection"]
                </h2>
            </a>

                }
                <div id="gridContainer3">
                </div>
            </div>
        </div>
    </div>

    <!-- ******************** End Words Section ********************-->
    <!-- ******************** ADVERTISMENT RIGHT  ********************-->
    <div dir="ltr" class="flex-grow xl:w-2/12 w-full mt-16 xl:mt-0 xl:ml-2 relative adt-center overflow-hidden" style="margin-top:25%">
        <div class="adv-slider-right adv-slider flex xl:w-full">
            <img @(CultureInfo.CurrentCulture.Name.StartsWith("ar") ? "style=transform:rotateY(180deg)" : "") class="avdertisment-item advertisment-right img-center border-radius7 object-cover img-padding10"
                 data-desk="../images/Безимени-4.gif"
                 data-mobile="" />
        </div>
    </div>
    <!-- ******************** ADVERTISMENT RIGHT  ********************-->

</div>
</div>
        </div>
    </div>
</div>
<!-- ******************** PRODUCTS SECTION  ********************-->
<!-- ******************** STATISTICS SECTION  ********************-->
@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <div class="bg-gray-100" style="border-top: 2px solid #282848;">
        <div dir="rtl" class="bg-gray-100 py-8">
            <div class="xl:container xl:px-0 px-4">
                <div class="w-full">
                    <div class="flex flex-col justify-evenly">
                        <h2 class="font-semibold text-2xl lg:my-0 my-8">@SharedLocalizer["ARINLANG in Numbers"]</h2>
                        <div class="flex flex-row w-full justify-between">
                            <div>
                                <div class="h-2 mb-1 rounded-sm bg-secondary" style="width: 68px;"></div>
                                <span class="font-semibold text-lg">@SharedLocalizer["Total"] @totalUsers @SharedLocalizer[" Users"]</span>
                            </div>
                            <div>
                                <div class="h-2 mb-1 rounded-sm bg-secondary" style="width: 68px;"></div>
                                <span class="font-semibold text-lg">@SharedLocalizer["Total"] @Model.StatistiCards[0].totalCount @SharedLocalizer["Sentences recorded"]</span>
                            </div>
                            <div>
                                <div class="h-2 mb-1 rounded-sm bg-secondary" style="width: 68px;"></div>
                                <span class="font-semibold text-lg">@Model.StatistiCards[1].totalCount  @SharedLocalizer["Phrases recorded"]</span>
                            </div>
                            <div>
                                <div class="h-2 mb-1 rounded-sm bg-secondary" style="width: 68px;"></div>
                                <span class="font-semibold text-lg">@Model.StatistiCards[2].totalCount @SharedLocalizer["Similar Names are registered"]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="bg-gray-100" style="border-top: 2px solid #282848;">
        <div class="bg-gray-100 py-8">
            <div class="xl:container xl:px-0 px-4">
                <div class="w-full">
                    <div class="flex flex-col justify-evenly">
                        <h2 class="font-semibold text-2xl lg:my-0 my-8">@SharedLocalizer["ARINLANG in Numbers"]</h2>
                        <div class="flex flex-row w-full justify-between">
                            <div>
                                <div class="h-2 mb-1 rounded-sm bg-secondary" style="width: 68px;"></div>
                                <span class="font-semibold text-lg">@SharedLocalizer["Total"] @totalUsers @SharedLocalizer[" Users"]</span>
                            </div>
                            <div>
                                <div class="h-2 mb-1 rounded-sm bg-secondary" style="width: 68px;"></div>
                                <span class="font-semibold text-lg">@SharedLocalizer["Total"] @Model.StatistiCards[0].totalCount @SharedLocalizer["Sentences recorded"]</span>
                            </div>
                            <div>
                                <div class="h-2 mb-1 rounded-sm bg-secondary" style="width: 68px;"></div>
                                <span class="font-semibold text-lg">@Model.StatistiCards[1].totalCount  @SharedLocalizer["Phrases recorded"]</span>
                            </div>
                            <div>
                                <div class="h-2 mb-1 rounded-sm bg-secondary" style="width: 68px;"></div>
                                <span class="font-semibold text-lg">@Model.StatistiCards[2].totalCount @SharedLocalizer["Similar Names are registered"]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- ******************** STATISTICS SECTION  ********************-->
<!-- ******************** MAILING SECTION  ********************-->
@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <div dir="rtl" class="bg-gray-100 lg:py-0 sm:py-4" style="border-top: 2px solid #282848;">
        <div class="xl:container sm:px-4 lg:p-24">
            <div class="bg-white shadow-md md:p-16 px-4 py-10 rounded w-auto" style="margin: auto; border: 2px solid silver; border-radius: 9px; width: 830px; padding-left: 38px;">
                <h2 class="font-bold text-2xl md:text-3xl text-center text-primary font-roboto" style="margin-left: 18px;">
                    @SharedLocalizer["Subscribe to the newsletter and events"]
                </h2>
                <form asp-area="" asp-controller="Home" asp-action="Subscribe">
                    <div class="relative px-4 mt-10 sm:bg-gray-100 rounded-sm overflow-hidden grid sm:block gap-y-2">
                        <input type="email" style="margin-right: 20%;"
                               name="email"
                               placeholder="@SharedLocalizer["Enter your email address"]"
                               class="sm:w-9/10 bg-transparent p-4 outline-none rounded sm:rounded-none" style="border-radius: 9px; border: 2px solid black" required />
                        <button type="submit"
                                class="uppercase rounded sm:rounded-none w-full sm:w-auto h-full text-white" style="width: 140px; height: 50px; cursor: pointer; border-radius: 8px; background-color: #282848; padding: 10px; margin-right: 190px;">
                            <span>@SharedLocalizer["Subscribe"]</span>
                        </button>
                    </div>

                </form>
                <p style="margin-top: 20px; padding-left: 19px; font-size: 13px;">
                    Your email address will be used to send you Newsletters, events and emails about Arinlang. <br>
                    You can unsubscribe at any time by clicking on the unsubscribe link en each email.
                </p>
                <hr />
            </div>
        </div>
    </div>
}
else
{
    <div class="bg-gray-100 lg:py-0 sm:py-4" style="border-top: 2px solid #282848;">
        <div id="subscribe" class="xl:container sm:px-4  lg:p-24">
            <div class="bg-white px-4 py-10 rounded w-auto" style="margin: auto; border: 2px solid silver; border-radius: 9px; padding-left: 38px;">
                <h2 class="font-bold text-2xl md:text-2xl text-left text-primary font-roboto" style="margin-left: 18px;">
                    @SharedLocalizer["Subscribe to the newsletter and events"]
                </h2>
                <form asp-area="" asp-controller="Home" asp-action="Subscribe">
                    <div class="relative px-4 mt-10 rounded-sm overflow-hidden flex sm:block">
                        <input type="email"
                               name="email"
                               placeholder="@SharedLocalizer["Enter your email address"]"
                               class="sm:w-9/12 bg-white p-4 outline-none rounded sm:rounded-none" style="border-radius: 9px; border: 2px solid black" required />
                        <button type="submit"
                                class="uppercase rounded sm:rounded-none w-full sm:w-auto h-full text-white" style="width: 140px; height: 50px; cursor: pointer; border-radius: 8px; background-color: #282848; padding: 10px; margin-left: 25px;">
                            <span>@SharedLocalizer["Subscribe"]</span>
                        </button>
                    </div>
                </form>
                <p style="margin-top: 20px; padding-left: 19px; font-size: 13px;">
                    Your email address will be used to send you Newsletters, events and emails about Arinlang. <br>
                    You can unsubscribe at any time by clicking on the unsubscribe link en each email.
                </p>
                <hr />
            </div>
        </div>
    </div>
}
<!-- ******************** MAILING SECTION  ********************-->
@section Scripts{

    <script src="~/client/js/advertisment.js" defer></script>
    <script>
        $(function () {
            let url = `@API.GetRandomWords`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),

                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    useIcons: true,
                    allowUpdating: false,
                    allowDeleting: false,
                    allowAdding: false
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                hoverStateEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: false
                },
                stateStoring: {
                    enabled:false,
                    type: "localStorage",
                    storageKey: "WordClauseAdmin"
                },
                 onCellClick: function (e) {
                    if (e.columnIndex != 2) {
                        var idString = e.data.id;
                        var url = `@Url.Action("Details", "Words", new { Area = "" })`;
                        window.location = url + '?id=' + idString;
                    }
                },
                columns: [
                    {
                        caption: '@SharedLocalizer["Arab Words"]',
                        dataField: "arabWord",
                        allowHeaderFiltering: false,
                    },{
                        caption: '@SharedLocalizer["Reads in Türkmen"]',
                        dataField: "otherWord",
                        allowHeaderFiltering: false,

                    },
                    @*{
                        caption: '@SharedLocalizer["Voices"]',
                        dataField: 'arabVoiceFile',
                        width: 100,
                        cellTemplate(container, options) {
                            if (options.value) {
                                $('<div>', { class: 'cell' })
                                    .append($('<audio>', { id: options.value, })
                                        .append($('<source>', { src: 'https://localhost:5001/' + options.value, type: 'audio/mpeg' })))
                                    .append($('<button>', {
                                        class: 'btn btn-success', style: 'background-color:green; padding:20px;border-radius:15px;',
                                        onclick: 'playAudio(\'' + options.value + '\')',
                                        id: '_' + options.value,
                                        text: '@SharedLocalizer["Play"]',
                                        style: 'font-color:white'

                                    }, '@SharedLocalizer["Play"]</button>'))
                                    .appendTo(container);
                            } else {
                                $('<div>', { class: 'cell' })
                                    .append($('<label>', { text: '@SharedLocalizer["No audio voices"]' }))
                                    .appendTo(container);
                            }
                        },

                    },*@
                    {
                        type: "buttons",
                        width: 55,
                        caption: '@SharedLocalizer["Share"]',
                        buttons: [
                            {

                                hint: '@SharedLocalizer["Share"]',
                                icon: "share",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("Share", "Words", new { Area = "" })`;
                                    window.location = url + '/' + idString;
                                }
                            },
                        ]
                    }
                ]
            });
        });

        function playAudio(id) {

            var x = document.getElementById(id);
            var bt = document.getElementById('_' + id);
            if (bt.textContent == '@SharedLocalizer["Play"]') {
                x.play();
                bt.textContent = '@SharedLocalizer["Stop"]';
            } else {
                x.pause();
                bt.textContent = '@SharedLocalizer["Play"]';
            }

        }
    </script>

    <script>
        $(function () {
            let url = `@API.GetAllWordClauses`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer1").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                
                onRowClick: function (e) {
                     var idString = e.data.id;
                     var url = `@Url.Action("Details", "WordClauses", new { Area = "" })`;
                     window.location = url + '/' + idString;
                },
                //selection: {
                //    mode: "multiple"
                //},
                "export": {
                    enabled: false,
                    fileName: "WordClause",
                    allowExportSelectedData: false
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    useIcons: true,
                    allowUpdating: false,
                    allowDeleting: false,
                    allowAdding: false
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                hoverStateEnabled : true,
                showBorders: false,
                searchPanel: {
                    visible: false
                },
                stateStoring: {
                    enabled:false,
                    type: "localStorage",
                    storageKey: "WordClauseAdmin"
                },
                columns: [
                    {
                        caption: '@SharedLocalizer["Arab Clause"]',
                        dataField: "arabClause",
                        allowHeaderFiltering: false,
                    },{
                        caption: '@SharedLocalizer["Reads in Türkmen"]',
                                    dataField: "otherReader",
                        allowHeaderFiltering: false,
                    },

                     {
                        caption: '@SharedLocalizer["Türmen Clause"]',
                         dataField: "otherClause",
                        allowHeaderFiltering: false,
                    },{
                        caption: '@SharedLocalizer["Reads in Arabic"]',
                        dataField: "arabReader",
                        allowHeaderFiltering: false,
                    },

                     {
                        caption: '@SharedLocalizer["Category"]',
                        dataField: "categoryName",
                        allowHeaderFiltering: true,
                    },
                     @*{
                        type: "buttons",
                        width: 55,
                        caption: '@SharedLocalizer["Share"]',
                        buttons: [
                            {

                                hint: '@SharedLocalizer["Share"]',
                                icon: "share",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                   var url = `@Url.Action("Details", "WordClauses", new { Area = "" })`;
                                    window.location = url + '?id=' + idString;
                                }
                            },
                        ]
                    }*@

                ]
            });
        });
    </script>

    <script>
        $(function () {
            let url = `@API.GetRandomNames`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer3").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                onInitNewRow: function(e) {
                    var url = `@Url.Action("Create", "Names", new { Area = "Admin" })`;
                    window.location = url;
                },
                onRowClick: function (e) {
                     var idString = e.data.id;
                     var url = `@Url.Action("Details", "Names", new { Area = "" })`;
                     window.location = url + '?id=' + idString;
                },
                //selection: {
                //    mode: "multiple"
                //},
                "export": {
                    enabled: false,
                    fileName: "Documents",
                    allowExportSelectedData: false
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    useIcons: true,
                    allowUpdating: false,
                    allowDeleting: false,
                    allowAdding: false
                },
                headerFilter: {
                    visible: false
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                hoverStateEnabled: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: false
                },

                stateStoring: {
                    enabled: false,
                    type: "localStorage",
                    storageKey: "partnersAdmin"
                },
                allowColumnReordering: false,
                columns: [
                    {
                        caption: '@SharedLocalizer["Arab Name"]',
                        dataField: "arabName",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Türkmen Name"]',
                        dataField: "otherName",
                        allowHeaderFiltering: true
                    },
                      {
                        type: "buttons",
                        width: 55,
                        caption: '@SharedLocalizer["Share"]',
                        buttons: [
                            {

                                hint: '@SharedLocalizer["Share"]',
                                icon: "share",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("Share", "Names", new { Area = "" })`;
                                    window.location = url + '/' + idString;
                                }
                            },
                        ]
                    }
                ]
            });
        });
    </script>
}
