@{
    ViewData["Title"] = "Index";


}
@using ARINLAB.Models
@model WordSentencesViewModel
@{
    string dictName = "Error";
    try
    {
        dictName = (new List<DAL.Models.Dictionary>(ViewBag.dict)).Find(p => p.Id == Model.Word.DictionaryId).Language;
    }
    catch (Exception e)
    {
        dictName = "Error";
    }
}

<h1>Manage Word Sentences and Audio File (Voice)</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4 items-center">
            <label style="font-size:24px; font-weight:600">Arab Word : </label>
            <label class="text-success" style="font-size:30px; font-weight:600">@Model.Word.ArabWord</label>
        </div>
        <div class=" col-4">
            <label style="font-size:24px; font-weight:600">@dictName Word : </label>
            <h2 class="text-success" style="font-size:30px; font-weight:600">@Model.Word.OtherWord</h2>
        </div>
        <div class="col-2"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-8">
            <h2>@SharedLocalizer["Voices Related to the Word"]</h2>
        </div>
        <div class="col-4">
            <a asp-area="Registered" asp-controller="Word" asp-action="AddWordVoice" asp-route-id="@Model.Word.Id" asp-route-arabWord="@Model.Word.ArabWord" asp-route-otherWord="@Model.Word.OtherWord" asp-route-dictId="@dictName"><button class="btn btn-success"><i class="fa fa-plus"></i></button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">@SharedLocalizer["#"]</th>
                        <th scope="col">@SharedLocalizer["Arab Voice"]</th>
                        <th scope="col">@dictName @SharedLocalizer["Voice"]</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model.AudioFiles)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>
                                    <audio id="myAudio@(item.Id)">
                                        <source src="~/@item.ArabVoice" type="audio/mpeg">                                      
                                    </audio>
                                    <button onclick="playAudio('myAudio@(item.Id)')">PLAY</button>
                                    <button onclick="pauseAudio('myAudio@(item.Id)')">STOP</button>
                                </td>
                                <td>
                                    <audio id="myAudio@(item.Id)_o">
                                        <source src="~/@item.OtherVoice" type="audio/mpeg">
                                    </audio>
                                    <button onclick="playAudio('myAudio@(item.Id)_o')">PLAY</button>
                                    <button onclick="pauseAudio('myAudio@(item.Id)_o')">STOP</button>
                                </td>

                                <td>
                                  <button type="button" id="@(item.Id)" name="@(Model.Word.Id)" class="sweetalert delete-voice1 btn button-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@{
    string text1 = ViewBag.successs;
}

<button class="sweetalert sweetalert-success button button-success" id="AlertButton1" hidden></button>
@if(!string.IsNullOrEmpty(text1))
{
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("AlertButton1").click();
        }
    </script>
}

<script>
  
    function playAudio(id) {
       
        var x = document.getElementById(id);
        x.play();
    }

    function pauseAudio(id) {
       
        var x = document.getElementById(id);
        x.pause();
}

</script>