@{
    ViewData["Title"] = "Index";
    SimpleWordModel mod = (SimpleWordModel)ViewBag.model;
}
@using ARINLAB.Models
@using DAL.Models.Dto
@model WordSentencesDto

<h1>Add Sentence and Voice </h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4 items-center">

            <label class="text-success" style="font-size:30px; font-weight:600">@mod.ArabWord</label>
        </div>
        <div class=" col-4">

            <h2 class="text-success" style="font-size:30px; font-weight:600">@mod.OtherWord</h2>
        </div>
        <div class="col-2"></div>
    </div>
    <hr />
    <div class="col-12 mb-30">
        <form asp-area="Registered" asp-controller="Word" asp-action="EditWordSentence" method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id" > 
            <input type="hidden" asp-for="WordId" value="@Model.WordId" />
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <input type="hidden" asp-for="IsApproved" value="@Model.IsApproved" />
            <div class="box">
                <div class="box-head">
                    <h3 class="title">@SharedLocalizer["Edit Example Sentence"]</h3>
                </div>
                <div class="box-body">
                    <div class="row mbn-20">

                        <!--Form Field-->
                        <div class="col-lg-6 col-12 mb-20">

                            <h6 class="mb-15">Arab</h6>

                            <div class="row mbn-15">
                                <div class="col-12 mb-15"><input type="text" asp-for="ArabSentence" value="@Model.ArabSentence" class="form-control" placeholder="@SharedLocalizer["Sentence"]"></div>

                                <div class="col-12 mb-15"><textarea class="form-control" asp-for="ArabReader" value="@Model.ArabReader" placeholder="@SharedLocalizer["Transcript"]"></textarea></div>
                            </div>

                        </div>
                        <!--Form Field-->
                        <!--Readonly Field-->
                        <div class="col-lg-6 col-12 mb-20">

                            <h6 class="mb-15">@mod.DictID</h6>

                            <div class="row mbn-15">
                                <div class="col-12 mb-15"><input type="text" asp-for="OtherSentence" value="@Model.OtherSentence" class="form-control" placeholder="@SharedLocalizer["Sentence"]"></div>

                                <div class="col-12 mb-15"><textarea asp-for="OtherReader" class="form-control" value="@Model.OtherReader" placeholder="@SharedLocalizer["Transcript"]"></textarea></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box-foot items-end">
                    <input type="submit" class="btn btn-success" value="@SharedLocalizer["Edit"]"></input>
                </div>
            </div>
        </form>
    </div>
</div>