@{
    ViewData["Title"] = "Index";
}
@using DAL.Models.Dto
@using ARINLAB.Areas.Admin.Utils
<h1> @SharedLocalizer["Words Controller"]</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                @SharedLocalizer["Word List"]
            </h3>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            let url = `@API.GetAllWords`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: `/api/WordsAPI`,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                onInitNewRow: function(e) {
                    var url = `@Url.Action("Create", "Word", new { Area = "ApprovedUser" })`;
                    window.location = url;
                },
                selection: {
                    mode: "multiple"
                },
                "export": {
                    enabled: true,
                    fileName: "WordClause",
                    allowExportSelectedData: true
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },
                stateStoring: {
                    enabled:false,
                    type: "localStorage",
                    storageKey: "WordAdmin"
                },
                columns: [
                    {
                        caption: '@SharedLocalizer["Arab Word"]',
                        dataField: "arabWord",
                        allowHeaderFiltering: false,
                    },
                    {
                        caption: '@SharedLocalizer["Other word"]',
                        dataField: "otherWord",
                        allowHeaderFiltering: false,
                    },

                                {
                        caption: '@SharedLocalizer["Dictionary"]',
                                    dataField: "dictionary",
                        allowHeaderFiltering: true,
                    },

                     {
                        caption: '@SharedLocalizer["Approved"]',
                         dataField: "isApproved",
                        allowHeaderFiltering: true,
                    },
                     {
                        caption: '@SharedLocalizer["User name"]',
                         dataField: "userEmail",
                        allowHeaderFiltering: true,
                    },
                    {
                        type: "buttons",
                        width: 110,
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Edit"]',
                                icon: "edit",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("Edit", "Word", new { Area = "ApprovedUser" })`;
                                    window.location = url + '/' + idString;
                                }
                            },
                            {
                                hint: '@SharedLocalizer["Edit word sentences"]',
                                icon: "arrowright",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("EditWord", "Word", new { Area = "ApprovedUser" })`;
                                    window.location = url + '/' + idString;
                                }
                            },
                            
                            "delete"
                        ]
                    }
                ]
            });
        });
    </script>
}