@using Microsoft.AspNetCore.Mvc.Localization
@using ARINLAB.Areas.Admin.Utils
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer localizer
@using DAL.Models.Dto
@using System.Globalization
@using ARINLAB.Models
@model List<DAL.Models.Dto.AudioFileForClauseDto>
@{
    string dictName = "";
    ViewData["Title"] = "Index";
    EditWordClauseDto m = null;
    int rating = (int)ViewBag.Rating;
    bool ress = false;
    if (ViewBag.RatingResult != null)
        ress = (bool)(ViewBag.RatingResult);
    if (ViewBag.Model != null)
    {
        m = ((EditWordClauseDto)ViewBag.Model);
    }
    try
    {
        if (ViewBag.Dictionaries != null)
        {
            var getdictName = ((List<DAL.Models.Dictionary>)ViewBag.Dictionaries).SingleOrDefault(p => p.Id == m.DictionaryId);
            string culture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
            if (culture == "ar")
                dictName = getdictName.ArabTranslate;
            else
                dictName = getdictName.Language;
        }
    }
    catch (Exception e)
    {

    }
}
@await Component.InvokeAsync("HeaderMenu")

    <div id="news_icons" class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
        <div class="flex justify-between" style="width: 140px;">
            <a href=""><img src="~/images/Icons/Bug.svg"></a>
            <a href="#" onclick="window.print()"><img src="~/images/Icons/Print.svg"></a>
            <a href="#" onclick="CopyLink()"><img src="~/images/Icons/Copy_link.svg"></a>
            <a href="@((string)ViewBag.ExportImage)" download><img src="~/images/Icons/Share_black.svg"></a>
        </div>
    <div class="flex justify-between align-center" style="width: 220px;">
        <img src="~/images/Icons/Eye.svg">
        <small style="margin-right: 15px;">@m.Viewed</small>
        <div id="full-stars-example">
            <div class="rating-group">
                <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-1" value="1" type="radio" onclick="httpGet('@Url.Action("SetRating", "WordClauses")?Rating=1&WordClauseId=@m.Id')" @(rating == 1 ? "checked" : "")>
                <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-2" value="2" type="radio" onclick="httpGet('@Url.Action("SetRating", "WordClauses")?Rating=2&WordClauseId=@m.Id')" @(rating == 2 ? "checked" : "")>
                <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" onclick="httpGet('@Url.Action("SetRating", "WordClauses")?Rating=3&WordClauseId=@m.Id')" @(rating == 3 ? "checked" : "")>
                <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-4" value="4" type="radio" onclick="httpGet('@Url.Action("SetRating", "WordClauses")?Rating=4&WordClauseId=@m.Id')" @(rating == 4 ? "checked" : "")>
                <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-5" value="5" type="radio" onclick="httpGet('@Url.Action("SetRating", "WordClauses")?Rating=5&WordClauseId=@m.Id')" @(rating == 5 ? "checked" : "")>
            </div>
        </div>
    </div>
</div>
<div id="words_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 30px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 9px; font-size: 18px;">
    <div class="wrapper">
        <h3 style="text-align: center;">@m.CategoryName</h3>
        <div class="justify-between flex flex-row px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">@SharedLocalizer["Turkmen Phrase"]:</h3>
            <h3 style="font-weight: bold;">@SharedLocalizer["Arabic Phrase"]:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            @if (Model != null && Model.Count>0)
            {
                <audio id="myAudio@(Model[0].Id)">
                    <source src="~/@Model[0].OtherVoice" type="audio/mpeg">
                </audio>
                <audio id="myAudio@(Model[0].Id)_o">
                    <source src="~/@Model[0].ArabVoice" type="audio/mpeg">
                </audio>
            }
        <p>
            @if (Model != null && Model.Count > 0)
            {
                <img style="padding-right: 10px; margin-left: 40px; cursor: pointer" src="@(CultureInfo.CurrentCulture.Name.StartsWith("ar")? "/images/Icons/Voice_R.svg" : "/images/Icons/Voice_L.svg")" onclick="playAudio('myAudio@(Model[0].Id)')">
            }
            else
            {
                <img style="padding-right: 10px; margin-left: 40px; cursor: pointer" src="@(CultureInfo.CurrentCulture.Name.StartsWith("ar")? "/images/Icons/Voice_R.svg" : "/images/Icons/Voice_L.svg")" >

            }
            @m.OtherClause
        </p>
        <p>
            @m.ArabClause
            @if (Model != null && Model.Count > 0)
            {
                <img style="padding-left: 10px; padding-right: 40px; cursor:pointer" src="@(CultureInfo.CurrentCulture.Name.StartsWith("ar")? "/images/Icons/Voice_L.svg" : "/images/Icons/Voice_R.svg")" onclick="playAudio('myAudio@(Model[0].Id)_o')">
            }
            else
            {
                <img style="padding-right: 10px; margin-left: 40px; cursor: pointer" src="@(CultureInfo.CurrentCulture.Name.StartsWith("ar")? "/images/Icons/Voice_L.svg" : "/images/Icons/Voice_R.svg")" >
            }
        </p>

        </div>
        <div class="justify-between flex flex-row px-5 bg-gray-100"style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">@SharedLocalizer["Arab Transcription"]:</h3>
            <h3 style="font-weight: bold;">@SharedLocalizer["Turkmen Transcription"]:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <p>@m.ArabReader</p>
            <p>@m.OtherReader</p>
        </div>
        
    </div>
</div>

<button id="btn" hidden></button>
@section Scripts{
   
    <script>
        function httpGet(theUrl) {
            document.getElementById("success").click();
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, true); // false for synchronous request
            xmlHttp.send(null);
            return null;
        }

        @*function Export(id) {
            var req = new XMLHttpRequest();
            req.open("GET", "/api/ExportAPI/Phrase/" + "@m.ArabClause" + "/" + "@m.OtherReader" + "/" + "@m.OtherClause" + "/" + "@m.ArabReader", false);
            req.send();
            var a = document.createElement("a");
            a.setAttribute("href", "" + req.responseText);
            a.setAttribute("download", "" + req.responseText);
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }*@

    function playAudio(id) {
        var x = document.getElementById(id);
        x.play();
    }

    function pauseAudio(id) {
        var x = document.getElementById(id);
        x.pause();
    }
    </script>
   
}