@model WordClauseCategory
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using DAL.Models.Dto
@using DAL.Models
@{
    ViewData["Title"] = SharedLocalizer["Edit word category"];

    int lngIndex = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Edit word category"]
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
            <form asp-action="Edit" id="form" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <div class="col-md-12">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-12">
                            @foreach (LanguageDto languageDTO in ViewBag.Languages)
                            {
                                <h2>@languageDTO.Name</h2>
                                <hr />
                                <input type="hidden" class="form-control" name="WordClauseCategoryTranslates[@lngIndex].LanguageCulture" value="@languageDTO.Culture" />
                                <div class="form-group">
                                    <label>@SharedLocalizer["Name"]</label>
                                    <input type="text" class="form-control" name="WordClauseCategoryTranslates[@lngIndex].CategoryName" value="@Model.WordClauseCategoryTranslates.ToArray()[@lngIndex].CategoryName" />
                                    <input type="hidden" class="form-control" name="WordClauseCategoryTranslates[@lngIndex].Id" value="@Model.WordClauseCategoryTranslates.ToArray()[@lngIndex].Id" />
                                </div>
                                <br />
                                lngIndex++;
                            }
                        </div>
                        <div class="col-12 mb-15">
                            <select class="form-control form-control-lg" asp-for="ParentCategoryId">
                                @foreach (var item in (new List<WordClauseCategoryDto>(ViewBag.Categories)))
                                {
                                    if (item.Id == Model.ParentCategoryId)
                                    {
                                        <option value="@item.Id" selected="selected">@item.CategoryName</option>
                }
                else
                {
                    <option value="@item.Id">@item.CategoryName</option>
                }
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-success">@SharedLocalizer["Edit"]</button>
            </form>
        </div>
    </div>
</div>

