@model IEnumerable<DAL.Models.Dto.MenuModelDTO.MenuDTO>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using System.Globalization 
@using ARINLAB.Services
@inject LogoService _logoSevice;
   @{ 
       var logos = _logoSevice.GetLogos();
       List<DAL.Models.Dto.NewsModelDTO.NewsDTO> news = (List<DAL.Models.Dto.NewsModelDTO.NewsDTO>)ViewBag.News;
   }

    

@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
     <div class="w-full flex sm:block xl:flex items-center xl:h-40 xl:px-0 sm:justify-evenly justify-between bg-gray sm:z-10 z-30 z-999 relative shadow:none sm:shadow xl:shadow-none" style="height: auto; border-bottom: 3px solid #282848;">
        <div id="other_menu" class="logo flex items-center xl:pt-0 sm:pb-0 pb-2 pt-2">
            <img id="other_menu_img" src="~/images/Logo/02768c1962454ebab2222fec2b64a804.png" alt="" class="max-w-full xl:h-40 h-20" />
        <div class="relative" style="margin-left: 10px; margin-right: 10px;">
            <div class="lg:py-0 sm:py-4">
        <div class="xl:container">
            <div id="subscribe_other" class="py-10" style="padding-left: 38px;">
                <h2 class="font-bold text-2xl md:text-2xl text-left text-primary font-roboto" style="margin-left: 18px;">
                    @SharedLocalizer["SEARCH BY WORDS AND PHRASEBOOKS"]
                </h2>
                <form asp-area="" asp-controller="Home" asp-action="Subscribe">
                    <div id="subs_other_form" class="relative px-4 mt-10 rounded-sm overflow-hidden flex sm:block">
                        <input type="email"
                               name="email"
                               placeholder="@SharedLocalizer["Enter a word or phrase"]"
                               class="sm:w-9/12 bg-white p-4 outline-none rounded sm:rounded-none" style="border-radius: 9px; border: 2px solid black" required />
                        <button type="submit"
                                class="uppercase rounded sm:rounded-none w-full sm:w-auto h-full text-white" style="width: 140px; height: 50px; cursor: pointer; border-radius: 8px; background-color: #282848; padding: 10px; margin-left: 25px;">
                            <span>@SharedLocalizer["Search"]</span>
                        </button>
                    </div>
                </form>
                <hr />
            </div>
        </div>
    </div>
    </div>
            <img src="~/images/Logo/61097513bc084caf8d47cc6492401d95.png" alt="" class="max-w-full xl:h-40 h-20" />
        </div>
    </div>
}
else
{
    <div class="w-full flex sm:block xl:flex items-center xl:h-40 xl:px-0 px-4 sm:justify-evenly justify-between bg-gray sm:z-10 z-30 z-999 relative shadow:none sm:shadow xl:shadow-none" style="height: auto; border-bottom: 3px solid #282848;">
        <div id="other_menu" class="logo flex items-center xl:pt-0 sm:pb-0 pb-2 pt-2">
            <img id="other_menu_img" src="~/images/Logo/02768c1962454ebab2222fec2b64a804.png" alt="" class="max-w-full xl:h-40 h-20" />
        <div class="relative" style="margin-left: 10px; margin-right: 10px;">
            @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <div dir="rtl" class="lg:py-0 sm:py-4">
        <div class="xl:container sm:px-4 lg:p-24">
            <div class="md:p-16 py-10 w-auto" style="margin: auto; width: 830px; padding-left: 38px;">
                <h2 class="font-bold text-2xl md:text-3xl text-center text-primary font-roboto" style="margin-left: 18px;">
                    @SharedLocalizer["SEARCH BY WORDS AND PHRASEBOOKS"]
                </h2>
                <form asp-area="" asp-controller="Home" asp-action="Subscribe">
                    <div class="relative px-4 mt-10 sm:bg-gray-100 rounded-sm overflow-hidden grid sm:block gap-y-2">
                        <input type="email" style="margin-right: 20%;"
                               name="email"
                               placeholder="@SharedLocalizer["Enter a word or phrase"]"
                               class="sm:w-9/10 bg-transparent p-4 outline-none rounded sm:rounded-none" style="border-radius: 9px; border: 2px solid black" required />
                        <button type="submit"
                                class="uppercase rounded sm:rounded-none w-full sm:w-auto h-full text-white" style="width: 140px; height: 50px; cursor: pointer; border-radius: 8px; background-color: #282848; padding: 10px; margin-left: 25px;">
                            <span>@SharedLocalizer["Search"]</span>
                        </button>
                    </div>

                </form>
                <hr />
            </div>
        </div>
    </div>
}
else
{
    <div class="lg:py-0 sm:py-4">
        <div class="xl:container">
            <div id="subscribe_other" class="py-10" style="padding-left: 38px;">
                <h2 class="font-bold text-2xl md:text-2xl text-left text-primary font-roboto" style="margin-left: 18px;">
                    @SharedLocalizer["SEARCH BY WORDS AND PHRASEBOOKS"]
                </h2>
                <form asp-area="" asp-controller="Home" asp-action="Subscribe">
                    <div id="subs_other_form" class="relative px-4 mt-10 rounded-sm overflow-hidden flex sm:block">
                        <input type="email"
                               name="email"
                               placeholder="@SharedLocalizer["Enter a word or phrase"]"
                               class="sm:w-9/12 bg-white p-4 outline-none rounded sm:rounded-none" style="border-radius: 9px; border: 2px solid black" required />
                        <button type="submit"
                                class="uppercase rounded sm:rounded-none w-full sm:w-auto h-full text-white" style="width: 140px; height: 50px; cursor: pointer; border-radius: 8px; background-color: #282848; padding: 10px; margin-left: 25px;">
                            <span>@SharedLocalizer["Search"]</span>
                        </button>
                    </div>
                </form>
                <hr />
            </div>
        </div>
    </div>
}
        </div>
            <img src="~/images/Logo/61097513bc084caf8d47cc6492401d95.png" alt="" class="max-w-full xl:h-40 h-20" />
        </div>
    </div>
}