@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Names"];

}
@using ARINLAB.Areas.Admin.Utils

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Names Conroller"] 
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(function () {
            let url = `@API.GetAllNames`;
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                onInitNewRow: function(e) {
                    var url = `@Url.Action("Create", "Names", new { Area = "ApprovedUser" })`;
                    window.location = url;
                },
                selection: {
                    mode: "multiple"
                },
                "export": {
                    enabled: true,
                    fileName: "Documents",
                    allowExportSelectedData: true
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                scrolling: {
                    mode: "virtual",
                    rowRenderingMode: "virtual"
                },
                paging: {
                    pageSize: 100
                },
                editing: {
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true
                },
                headerFilter: {
                    visible: false
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },

           
                allowColumnReordering: false,
                columns: [
                    {
                        caption: '@SharedLocalizer["Arab Name"]',
                        dataField: "arabName",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Other Name"]',
                        dataField: "otherName",
                        allowHeaderFiltering: true
                    },
                    {
                        caption: '@SharedLocalizer["Dictionary"]',
                        dataField: "dictionaryName",
                        allowHeaderFiltering: false
                    },
                    {
                        caption: '@SharedLocalizer["Active"]',
                        dataField: "isApproved",
                        width: "130",
                        allowHeaderFiltering: false
                    },
                    {
                        type: "buttons",
                        width: 110,
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Edit"]',
                                icon: "edit",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("Edit", "Names", new { Area = "ApprovedUser" })`;
                                    window.location = url + '?id=' + idString;
                                }
                            },
                        ]
                    }
                ]
            });
        });
    </script>
}
