
@{
    ViewData["Title"] = "Index";

}
@using ARINLAB.Models
@model List<StatisticCard> 
<h1>@SharedLocalizer["Admin Dashboard"]</h1>

<div class="main-wrapper">
    <div class="row">
        <!-- Top Report Start -->
        <div class="col-xlg-3 col-md-6 col-12 mb-30">
            <div class="top-report">

                <!-- Head -->
                <div class="head">
                    <h4>@SharedLocalizer["Total Words"]</h4>
                    <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                </div>

                <!-- Content -->
                <div class="content">
                    <h5>@SharedLocalizer["Todays"]</h5>
                    <h2>@Model[0].totalCount</h2>
                </div>

                <!-- Footer -->
                <div class="footer">
                    <div class="progess">
                        <div class="progess-bar" style="width: 92%;"></div>
                    </div>
                    <p>@SharedLocalizer["Total"] @Model[0].Editers @SharedLocalizer["Users contributed"] </p>
                </div>

            </div>
        </div><!-- Top Report End -->
        <!-- Top Report Start -->
        <!-- Top Report Start -->
        <div class="col-xlg-3 col-md-6 col-12 mb-30">
            <div class="top-report">

                <!-- Head -->
                <div class="head">
                    <h4>@SharedLocalizer["Total Sentences"]</h4>
                    <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                </div>

                <!-- Content -->
                <div class="content">
                    <h5>@SharedLocalizer["Todays"]</h5>
                    <h2>@Model[1].totalCount</h2>
                </div>

                <!-- Footer -->
                <div class="footer">
                    <div class="progess">
                        <div class="progess-bar" style="width: 92%;"></div>
                    </div>
                    <p>@SharedLocalizer["Total"] @Model[1].Editers @SharedLocalizer["Users contributed"] </p>
                </div>

            </div>
        </div><!-- Top Report End -->
        <!-- Top Report Start -->
        <!-- Top Report Start -->
        <div class="col-xlg-3 col-md-6 col-12 mb-30">
            <div class="top-report">

                <!-- Head -->
                <div class="head">
                    <h4>@SharedLocalizer["Total Clauses"]</h4>
                    <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                </div>

                <!-- Content -->
                <div class="content">
                    <h5>@SharedLocalizer["Todays"]</h5>
                    <h2>@Model[2].totalCount</h2>
                </div>

                <!-- Footer -->
                <div class="footer">
                    <div class="progess">
                        <div class="progess-bar" style="width: 92%;"></div>
                    </div>
                    <p>@SharedLocalizer["Total"] @Model[2].Editers @SharedLocalizer["Users contributed"] </p>
                </div>

            </div>
        </div><!-- Top Report End -->
        <!-- Top Report Start -->
        <!-- Top Report Start -->
        <div class="col-xlg-3 col-md-6 col-12 mb-30">
            <div class="top-report">

                <!-- Head -->
                <div class="head">
                    <h4>@SharedLocalizer["Total Names"]</h4>
                    <a href="#" class="view"><i class="zmdi zmdi-eye"></i></a>
                </div>

                <!-- Content -->
                <div class="content">
                    <h5>@SharedLocalizer["Todays"]</h5>
                    <h2>@Model[3].totalCount</h2>
                </div>

                <!-- Footer -->
                <div class="footer">
                    <div class="progess">
                        <div class="progess-bar" style="width: 92%;"></div>
                    </div>
                    <p>@SharedLocalizer["Total"] @Model[3].Editers @SharedLocalizer["Users contributed"] </p>
                </div>

            </div>
        </div><!-- Top Report End -->
        <!-- Top Report Start -->
    </div><!-- Top Report Wrap End -->

    <!--   
</div>

