@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Mvc.Localization
@using ARINLAB.Areas.Admin.Utils
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer localizer
@using System.Globalization
@using ARINLAB.Models
@model WordSentencesViewModel
@{

    bool ress = false;
    if (ViewBag.RatingResult != null)
        ress = (bool)ViewBag.RatingResult;
    string dictName = "Türkmen";
    try
    {
        var dictNm = (new List<DAL.Models.Dictionary>(ViewBag.dict)).Find(p => p.Id == Model.Word.DictionaryId);
        string culture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
        if (dictNm != null)
        {
            if (culture == "ar")
                dictName = dictNm.ArabTranslate;
            else
                dictName = dictNm.Language;
        }
    }
    catch (Exception e)
    {
        dictName = "Error";
    }

}
@await Component.InvokeAsync("OtherMenu")


@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))

{
    @* <div dir="rtl" class="flex justify-between flex-col xl:flex-row py-10 h-full xl:mb-0 blog">
        <div class="xl:w-8/12 xl:px-0 px-4 flex-grow">
            <a href="@((string)ViewBag.ExportImage)"><i style="position:fixed" class="fas fa-file-export">@SharedLocalizer["Export"]</i></a>
            <div class="row" style="margin-right:35%">
                <div class="col-2"></div>
                <div class="col-4 items-center">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Arab Word"] : </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@Model.Word.ArabWord</label>
                </div>
                <div class=" col-4">
                    <label style="font-size:24px; font-weight:600">@dictName @SharedLocalizer["Word"] : </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@Model.Word.OtherWord</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div dir="ltr" style="margin-left:50%;padding-top:20px;padding-bottom:20px;" class="col-2">
                <form asp-controller="Words" asp-action="SetRating" method="post" id="rtng">
                    <input id="kartik" value="@(ViewBag.Rating)" name="Rating" lang="ar" class="rating" data-stars="5" data-step="0.1" title="" onclick="alert()" />
                    <input type="hidden" value="@Model.Word.Id" name="WordId" />
                </form>
            </div>
            <div class="row">
                <div class="wrapper_green">
                    <div class="green_table">
                        <div class="row_green header green">
                            <div class="cell">
                                @SharedLocalizer["Arab sentence"]
                            </div>
                            <div class="cell">
                                @SharedLocalizer["Transcription"]
                            </div>
                            <div class="cell">
                                @dictName @SharedLocalizer["sentence"]
                            </div>
                            <div class="cell">
                                @SharedLocalizer["Transcription"]
                            </div>
                        </div>
                        @foreach (var item in Model.WordSentences)
                        {
                            <div class="row_green">
                                <div class="cell" data-title=" @SharedLocalizer["Arab sentence"]">
                                    @item.ArabSentence
                                </div>
                                <div class="cell" data-title=" @SharedLocalizer["Transcription"]">
                                    @item.ArabReader
                                </div>
                                <div class="cell" data-title=" @dictName @SharedLocalizer["sentence"]">
                                    @item.OtherSentence
                                </div>
                                <div class="cell" data-title="@SharedLocalizer["Transcription"]">
                                    @item.OtherReader
                                </div>
                            </div>
                        }


                    </div>
                </div>
                <hr />
            </div>
            <div class="row" style="margin-right:35%">
                <div class="col-2"></div>
                <div class="col-8 items-center">
                    <label class="text-success" style="font-size:30px; font-weight:600">@SharedLocalizer["Voices"]</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="wrapper_green">
                <div class="green_table">
                    <div class="row_green header green">
                        <div class="cell">
                            @SharedLocalizer["Arab Voice"]
                        </div>
                        <div class="cell">
                            @dictName @SharedLocalizer["Voice"]
                        </div>
                    </div>
                    @if (Model.AudioFiles != null)
                    {
                        @foreach (var item in Model.AudioFiles)
                        {
                            <div class="row_green">

                                <div class="cell" data-title="Audio">
                                    <audio id="myAudio@(item.Id)">
                                        <source src="~/@item.ArabVoice" type="audio/mpeg">
                                    </audio>
                                    <button class="btn btn-success" style="background-color: green; padding: 20px; border-radius: 15px;" onclick="playAudio('myAudio@(item.Id)')">PLAY</button>
                                    <button class="btn btn-success" style="background-color: red; padding: 20px; border-radius: 15px;" onclick="pauseAudio('myAudio@(item.Id)')">STOP</button>
                                </div>
                                <div class="cell" data-title="Audio">
                                    <audio id="myAudio@(item.Id)_o">
                                        <source src="~/@item.OtherVoice" type="audio/mpeg">
                                    </audio>
                                    <button class="btn btn-success" style="background-color: green; padding: 20px; border-radius: 15px;" onclick="playAudio('myAudio@(item.Id)_o')">PLAY</button>
                                    <button class="btn btn-success" style="background-color: red; padding: 20px; border-radius: 15px;" onclick="pauseAudio('myAudio@(item.Id)_o')">STOP</button>
                                </div>
                            </div>
                        }
                    }
                </div>

                
            </div>
        </div>

    </div> *@
<div  class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
    <div class="flex justify-between" style="width: 140px;">
        <a href=""><img src="~/images/Icons/Bug.svg"></a>
        <a href=""><img src="~/images/Icons/Print.svg"></a>
        <a href=""><img src="~/images/Icons/Copy_link.svg"></a>
        <a href=""><img src="~/images/Icons/Share_black.svg"></a>           
    </div>
    <div class="flex justify-between align-center" style="width: 220px;">
        <a href=""><img src="~/images/Icons/Eye.svg"></a>
        <small style="margin-right: 15px;">16879</small>
                <div id="full-stars-example">
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>
</div>
    </div>
</div>
<div id="words_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 30px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 13px; font-size: 18px;">
    <div class="wrapper">
        <div class="justify-between flex flex-row px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Word in Turkmen:</h3>
            <h3 style="font-weight: bold;">Word in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg"> Mugallym</p>
            <p>Moallem <img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
        <div class="justify-between flex flex-row px-5 bg-gray-100"style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Sentence in Turkmen:</h3>
            <h3 style="font-weight: bold;">Sentence in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg">Mugallym cagalara owredyar</p>
            <p>Muallim yualimu aletfale<img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Transcription in Arabic:</h3>
            <h3 style="font-weight: bold;">Transcription in Turkmen:</h3>
        </div>
        <div class="justify-between flex flex-row px-2" style="margin-top: 20px; margin-left: 40px; margin-right: 40px; border-bottom: 1px solid silver; padding-bottom: 10px; paddding-left: 40px; padding-right: 40px;">
            <p>Mugallym cagalary okadyar</p>
            <p>Muallim yualimu aletfale</p>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <p>Tutanyerli Mugallym</p>
            <p>Muallim Muthaber</p>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Transcription in Arabic:</h3>
            <h3 style="font-weight: bold;">Transcription in Turkmen:</h3>
        </div>00
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg">Tutanyerli Mugallym</p>
            <p>Muallim Muthaber<img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
    </div>
</div>
}
else
{
    @* <div class="flex justify-between flex-col xl:flex-row py-10 h-full xl:mb-0 blog">
        <div class="xl:w-8/12 xl:px-0 px-4 flex-grow">
            <div class="row" style="margin-left:35%">
                <div class="col-2"></div>
                <div class="col-4 items-center">
                    <label style="font-size:24px; font-weight:600">@SharedLocalizer["Arab Word"] : </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@Model.Word.ArabWord</label>
                </div>
                <div class=" col-4">
                    <label style="font-size:24px; font-weight:600">@dictName @SharedLocalizer["Word"] : </label>
                    <label class="text-success" style="font-size:30px; font-weight:600">@Model.Word.OtherWord</label>
                </div>
                <div class="col-2">
                    <a href="@((string)ViewBag.ExportImage)"><i style="margin-top:20px;" class="fas fa-file-export">@SharedLocalizer["Export"]</i></a>
                </div>
            </div>
            <div dir="ltr" style="margin-left:45%;padding-top:20px;padding-bottom:20px;" class="col-2">
                <form asp-controller="Words" asp-action="SetRating" method="post" id="rtng">
                   
                    <input id="kartik" value="@(ViewBag.Rating)" name="Rating" class="rating" data-stars="5" data-step="0.1" title="" onclick="alert()" />
                   
                    <input type="hidden" value="@Model.Word.Id" name="WordId" />
                   
                </form>
            </div>
            <div class="row">
                <div class="wrapper_green">
                    <div class="green_table">
                        <div class="row_green header green">
                            <div class="cell">
                                @SharedLocalizer["Arab sentence"]
                            </div>
                            <div class="cell">
                                @SharedLocalizer["Transcription"]
                            </div>
                            <div class="cell">
                                @dictName @SharedLocalizer["sentence"]
                            </div>
                            <div class="cell">
                                @SharedLocalizer["Transcription"]
                            </div>
                        </div>
                        @foreach (var item in Model.WordSentences)
                        {
                            <div class="row_green">
                                <div class="cell" data-title=" @SharedLocalizer["Arab sentence"]">
                                    @item.ArabSentence
                                </div>
                                <div class="cell" data-title=" @SharedLocalizer["Transcription"]">
                                    @item.ArabReader
                                </div>
                                <div class="cell" data-title=" @dictName @SharedLocalizer["sentence"]">
                                    @item.OtherSentence
                                </div>
                                <div class="cell" data-title="@SharedLocalizer["Transcription"]">
                                    @item.OtherReader
                                </div>
                            </div>
                        }


                    </div>
                </div>
                <hr />
            </div>
            <div class="row" style="margin-left:35%">
                <div class="col-2"></div>
                <div class="col-8 items-center">
                    <label class="text-success" style="font-size:30px; font-weight:600">@SharedLocalizer["Voices"]</label>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="wrapper_green">
                <div class="green_table">
                    <div class="row_green header green">
                        <div class="cell">
                            @SharedLocalizer["Arab Voice"]
                        </div>
                        <div class="cell">
                            @dictName @SharedLocalizer["Voice"]
                        </div>
                    </div>

                    @if (Model.AudioFiles != null)
                    {
                        @foreach (var item in Model.AudioFiles)
                        {
                            <div class="row_green">

                                <div class="cell" data-title="Audio">
                                    <audio id="myAudio@(item.Id)">
                                        <source src="~/@item.ArabVoice" type="audio/mpeg">
                                    </audio>
                                    <button class="btn btn-success" style="background-color: green; padding: 20px; border-radius: 15px;" onclick="playAudio('myAudio@(item.Id)')">@SharedLocalizer["Play"]</button>
                                    <button class="btn btn-success" style="background-color: red; padding: 20px; border-radius: 15px;" onclick="pauseAudio('myAudio@(item.Id)')">@SharedLocalizer["Stop"]</button>
                                </div>
                                <div class="cell" data-title="Audio">
                                    <audio id="myAudio@(item.Id)_o">
                                        <source src="~/@item.OtherVoice" type="audio/mpeg">
                                    </audio>
                                    <button class="btn btn-success" style="background-color: green; padding: 20px; border-radius: 15px;" onclick="playAudio('myAudio@(item.Id)_o')">@SharedLocalizer["Play"]</button>
                                    <button class="btn btn-success" style="background-color: red; padding: 20px; border-radius: 15px;" onclick="pauseAudio('myAudio@(item.Id)_o')">@SharedLocalizer["Stop"]</button>
                                </div>
                            </div>
                        }
                    }
                </div>

                
            </div>
        </div>


    </div> *@
<div id="news_icons" class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
    <div class="flex justify-between" style="width: 140px;">
        <a href=""><img src="~/images/Icons/Bug.svg"></a>
        <a href=""><img src="~/images/Icons/Print.svg"></a>
        <a href=""><img src="~/images/Icons/Copy_link.svg"></a>
        <a href=""><img src="~/images/Icons/Share_black.svg"></a>           
    </div>
    <div class="flex justify-between align-center" style="width: 220px;">
        <a href=""><img src="~/images/Icons/Eye.svg"></a>
        <small style="margin-right: 15px;">16879</small>
                <div id="full-stars-example">
    <div class="rating-group">
        <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
        <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
        <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" checked>
        <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
        <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
        <input class="rating__input" name="rating" id="rating-5" value="5" type="radio">
    </div>
</div>
    </div>
</div>
<div class="container" style="width: 700px; padding-top: 20px; padding-bottom: 30px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 13px; font-size: 18px;">
    <div class="wrapper">
        <div class="justify-between flex flex-row px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Word in Turkmen:</h3>
            <h3 style="font-weight: bold;">Word in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg"> Mugallym</p>
            <p>Moallem <img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
        <div class="justify-between flex flex-row px-5 bg-gray-100"style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Sentence in Turkmen:</h3>
            <h3 style="font-weight: bold;">Sentence in Arabic:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg">Mugallym cagalara owredyar</p>
            <p>Muallim yualimu aletfale<img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Transcription in Arabic:</h3>
            <h3 style="font-weight: bold;">Transcription in Turkmen:</h3>
        </div>
        <div class="justify-between flex flex-row px-2" style="margin-top: 20px; margin-left: 40px; margin-right: 40px; border-bottom: 1px solid silver; padding-bottom: 10px; paddding-left: 40px; padding-right: 40px;">
            <p>Mugallym cagalary okadyar</p>
            <p>Muallim yualimu aletfale</p>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <p>Tutanyerli Mugallym</p>
            <p>Muallim Muthaber</p>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
            <h3 style="font-weight: bold;">Transcription in Arabic:</h3>
            <h3 style="font-weight: bold;">Transcription in Turkmen:</h3>
        </div>
        <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
            <p><img style="padding-right: 10px; margin-left: 40px;" src="~/images/Icons/Voice_L.svg">Tutanyerli Mugallym</p>
            <p>Muallim Muthaber<img style="padding-left: 10px; padding-right: 40px;" src="~/images/Icons/Voice_R.svg"></p>
        </div>
    </div>
</div>
}
<button id="btn" hidden></button>


@section Scripts{

    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script> -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script> -->
    <script src="/dist/simple-notify.min.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/OverlayScrollbars.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        const btn = document.querySelector('#btn')

        btn.addEventListener('click', () => {
            new Notify({
                status: 'success',
                title: '@SharedLocalizer["Thank you"]',
                text: '@SharedLocalizer["Your rating have been successfully recorded"]',
                effect: 'fade',
                speed: 300,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: true,
                autoclose: false,
                autotimeout: 3000,
                gap: 60,
                distance: 20,
                type: 1,
                position: 'right top',
                customWrapper: '',
            })
        });

        function playAudio(id) {

            var x = document.getElementById(id);
            x.play();
        }

        function pauseAudio(id) {

            var x = document.getElementById(id);
            x.pause();
        }
    </script>
    <script>
        jQuery(document).ready(function () {
            $("#input-21f").rating({
                starCaptions: function (val) {
                    if (val < 3) {
                        return val;
                    } else {
                        return 'high';
                    }
                },
                starCaptionClasses: function (val) {
                    if (val < 3) {
                        return 'label label-danger';
                    } else {
                        return 'label label-success';
                    }
                },
                hoverOnClear: false
            });
            var $inp = $('#rating-input');

            $inp.rating({
                min: 0,
                max: 5,
                step: 1,
                size: 'lg',
                showClear: false
            });

            $('#btn-rating-input').on('click', function () {
                $inp.rating('refresh', {
                    showClear: true,
                    disabled: !$inp.attr('disabled')
                });
                document.getElementById("rtng").submit();
            });


            $('.btn-danger').on('click', function () {
                $("#kartik").rating('destroy');
            });

            $('.btn-success').on('click', function () {
                $("#kartik").rating('create');
                document.getElementById("rtng").submit();
            });

            $inp.on('rating.change', function () {
                alert($('#rating-input').val());
            });


            $('.rb-rating').rating({
                'showCaption': true,
                'stars': '3',
                'min': '0',
                'max': '3',
                'step': '1',
                'size': 'xs',
                'starCaptions': { 0: 'status:nix', 1: 'status:wackelt', 2: 'status:geht', 3: 'status:laeuft' }
            });
            $("#input-21c").rating({
                min: 0, max: 8, step: 0.5, size: "xl", stars: "8"
            });
        });
    </script>
    @if (ress)
    {
        <script>
            document.getElementById("btn").click();
        </script>
    }
}
