@{
    ViewData["Title"] = SharedLocalizer["Word Details"];
}
@using Microsoft.AspNetCore.Mvc.Localization
@using ARINLAB.Areas.Admin.Utils
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer localizer
@using System.Globalization
@using ARINLAB.Models
@inject ARINLAB.Services.SessionService.UserDictionary _userDict;

@model WordSentencesViewModel
@{
    int rating = (int)ViewBag.Rating;
    bool ress = false;
    if (ViewBag.RatingResult != null)
        ress = (bool)ViewBag.RatingResult;
    string dictName = "Türkmen";
    try
    {
        var dictNm = (new List<DAL.Models.Dictionary>(ViewBag.dict)).Find(p => p.Id == Model.Word.DictionaryId);
        string culture = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
        if (dictNm != null)
        {
            if (culture == "ar")
                dictName = dictNm.ArabTranslate;
            else
                dictName = dictNm.Language;
        }
    }
    catch (Exception e)
    {
        dictName = "Error";
    }

}
@await Component.InvokeAsync("HeaderMenu")

@if (true)@*//CultureInfo.CurrentCulture.Name.StartsWith("ar") || )*@
{
    <div id="news_icons" class="container flex flex-row justify-between" style=" padding-left: 25px; padding-right: 25px; width: 700px; margin-top: 70px;">
        <div class="flex justify-between" style="width: 140px;">
            <a href="#" onclick="OpenBag()"><img src="~/images/Icons/Bug.svg"></a>
            <a href="#" onclick="window.print()"><img src="~/images/Icons/Print.svg"></a>
            <a href="#" onclick="CopyLink()"><img src="~/images/Icons/Copy_link.svg"></a>
            <a href="@((string)ViewBag.ExportImage)" download><img src="~/images/Icons/Share_black.svg"></a>
        </div>
        <div class="flex justify-between align-center" style="width: 220px;">
            <img src="~/images/Icons/Eye.svg">
            <small style="margin-right: 15px;">@Model.Word.Viewed</small>
            <div id="full-stars-example">
                <div class="rating-group">
                    <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating" id="rating-1" value="1" type="radio" onclick="httpGet('@Url.Action("SetRating", "Words")?Rating=1&WordId=@Model.Word.Id')" @(rating == 1 ? "checked" : "")>
                    <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating" id="rating-2" value="2" type="radio" onclick="httpGet('@Url.Action("SetRating", "Words")?Rating=2&WordId=@Model.Word.Id')" @(rating == 2 ? "checked" : "")>
                    <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating" id="rating-3" value="3" type="radio" onclick="httpGet('@Url.Action("SetRating", "Words")?Rating=3&WordId=@Model.Word.Id')" @(rating == 3 ? "checked" : "")>
                    <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating" id="rating-4" value="4" type="radio" onclick="httpGet('@Url.Action("SetRating", "Words")?Rating=4&WordId=@Model.Word.Id')" @(rating == 4 ? "checked" : "")>
                    <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating" id="rating-5" value="5" type="radio" onclick="httpGet('@Url.Action("SetRating", "Words")?Rating=5&WordId=@Model.Word.Id')" @(rating == 5 ? "checked" : "")>
                </div>
            </div>
        </div>
    </div>
    <div id="words_det" class="container" style="width: 700px; padding-top: 20px; padding-bottom: 30px; margin-top: 20px; margin-bottom: 50px; border: 1px solid silver; border-radius: 13px; font-size: 18px;">
        <div class="wrapper">
            <div class="justify-between flex flex-row px-5 bg-gray-100" style="padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
                <h3 style="font-weight: bold;">@SharedLocalizer["Word in"] @Html.Raw(_userDict.GetDictionaryName()):</h3>
                <h3 style="font-weight: bold;">@SharedLocalizer["Word in Arabic"]:</h3>
            </div>
            <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">

                <audio id="myAudio@(Model.Word.Id)">
                    <source src="~/@Model.Word.OtherVoice" type="audio/mpeg">
                </audio>
                <p>
                    @if (!string.IsNullOrEmpty(Model.Word.OtherVoice))
                    {
                        <img style="padding-right: 10px; margin-left: 40px; cursor: pointer"
                             src="@(CultureInfo.CurrentCulture.Name.StartsWith("ar") ? "/images/Icons/Voice_R.svg" :
                   "/images/Icons/Voice_L.svg")" onclick="playAudio('myAudio@(Model.Word.Id)')">
                    }
                    else
                    {
                        <img style="padding-left: 10px; padding-right: 40px; cursor:pointer" />
                    }
                    @Model.Word.OtherWord
                </p>


                <audio id="myAudio@(Model.Word.Id)_o">
                    <source src="~/@Model.Word.ArabVoice" type="audio/mpeg">
                </audio>
                <p>
                    @Model.Word.ArabWord
                    @if (!string.IsNullOrEmpty(Model.Word.ArabVoice))
                    {
                        <img style="padding-left: 10px; padding-right: 40px; cursor:pointer"
                             src="@(CultureInfo.CurrentCulture.Name.StartsWith("ar") ? "/images/Icons/Voice_L.svg" :
                      "/images/Icons/Voice_R.svg")" onclick="playAudio('myAudio@(Model.Word.Id)_o')">
                    }
                    else
                    {
                        <img style="padding-left: 10px; padding-right: 40px; cursor:pointer" />
                    }
                </p>

            </div>
            <div class="justify-between flex flex-row px-5 bg-gray-100" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
                <h3 style="font-weight: bold;">@SharedLocalizer["Sentence in"] @Html.Raw(_userDict.GetDictionaryName()):</h3>
                <h3 style="font-weight: bold;">@SharedLocalizer["Sentence in Arabic"]:</h3>
            </div>
            @foreach (var sentence in Model.WordSentences)
            {
                <div class="justify-between flex flex-row px-5" style="margin-top: 20px;">
                    <audio id="myAudio@(sentence.Id)">
                        <source src="~/@sentence.OtherVoice" type="audio/mpeg">
                    </audio>
                    <p><img style="padding-right: 10px; margin-left: 40px; cursor: pointer" src="~/images/Icons/Voice_L.svg" onclick="playAudio('myAudio@(sentence.Id)')">@sentence.OtherSentence</p>
                    <audio id="myAudio@(sentence.Id)_o">
                        <source src="~/@sentence.ArabVoice" type="audio/mpeg">
                    </audio>
                    <p>@sentence.ArabSentence<img style="padding-left: 10px; padding-right: 40px; cursor: pointer" src="~/images/Icons/Voice_R.svg" onclick="playAudio('myAudio@(sentence.Id)_o')"></p>
                </div>
                <div class="justify-between flex flex-row px-5" style="margin-top: 20px; padding-left: 40px; padding-right: 40px;">
                    <h3 style="font-weight: bold;">@SharedLocalizer["Transcription in Arabic"]:</h3>
                    <h3 style="font-weight: bold;">@SharedLocalizer["Transcription in Turkmen"]:</h3>
                </div>
                <div class="justify-between flex flex-row px-2" style="margin-top: 20px; margin-left: 40px; margin-right: 40px; border-bottom: 1px solid silver; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;">
                    <p>@sentence.OtherReader</p>
                    <p>@sentence.ArabReader</p>
                </div>

            }
        </div>
    </div>
}


@section Scripts{

    <script>
        var r = '@ViewBag.Bag'

        if (r === 'success') {
            alert('@SharedLocalizer["Thank you for your report!!!"]');
            document.getElementById("bag").click();
        } else if (r === 'bagerror') {
            alert('@SharedLocalizer["Some thing went wrong, you may forget click reCAPTCHA!!!"]');
            document.getElementById("bagerror").click();
        }

        function playAudio(id) {
            var x = document.getElementById(id);
            x.play();
        }

        function pauseAudio(id) {
            var x = document.getElementById(id);
            x.pause();
        }
        function httpGet(theUrl) {
            document.getElementById("success").click();
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl, true); // false for synchronous request
            xmlHttp.send(null);
            return null;
        }
    </script>
    @if (ress)
    {
        <script>
            document.getElementById("success").click();
        </script>
    }
}
