@page
@model ForgotPasswordModel
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using ARINLAB
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Forgot your password?"];
}

<hr />
<div class="wrapper bg-gray-100 w-screen h-screen flex items-center justify-center flex-col" style="height: 60vh ">
    <div class="p-10 bg-white shadow-md rounded">
        <form class="input-forms flex flex-col py-2" method="post">
            <h2>@ViewData["Title"]</h2>
            <h4>@SharedLocalizer["Enter your email."]</h4>

            <input asp-for="Input.Email" class="mt-4 py-3 border-gray-100 border-solid border-2 outline-none pl-4 focus:border focus:border-link rounded" placeholder="@SharedLocalizer["Login"]" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>


            <br />

            <button type="submit" class="bg-blue-700 hover:bg-link text-center text-white py-3 mt-4 select-none rounded">@SharedLocalizer["Submit"]</button>
            <div class="form-group">

                <p style="margin-top:10px;">
                    <a class="btn btn-danger" style="color:green" asp-page="./Register" asp-route-returnUrl="#">@SharedLocalizer["Register as a new user"]</a>
                </p>

            </div>

        </form>
        @*<form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
