@page
@model LoginModel
@using ARINLAB
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Log in"];
}

<div class="wrapper bg-gray-100 w-screen h-screen flex items-center justify-center flex-col" style="height: 60vh ">
    <div class="p-10 bg-white shadow-md rounded">
        <div class="items-center text-xl max-w-xs px-10 text-center font-bold">
            @SharedLocalizer["Login to your account"]
        </div>
        @foreach (var item in ViewContext.ViewData.ModelState)
        {
            if (item.Value.Errors.Any())
            {
                <span class="text-danger" style="color:red">@(item.Value.Errors.Last().ErrorMessage)</span>
            }
        }
    <form class="input-forms flex flex-col py-2" id="account" method="post">

        <input asp-for="Input.Email" class="mt-4 py-3 border-gray-100 border-solid border-2 outline-none pl-4 focus:border focus:border-link rounded" placeholder="@SharedLocalizer["Login"]" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <input asp-for="Input.Password" class="mt-4 py-3 border-gray-100 border-solid border-2 outline-none pl-4 focus:border focus:border-link rounded" placeholder="@SharedLocalizer["Password"]" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>

        <br />
        <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
        <div class="g-recaptcha" data-sitekey="6LdODTcfAAAAAJH_g_eZMNUWRiDwnoK3_vINS1gA"></div>

        <button data-action='submit' class="bg-blue-700 hover:bg-link text-center text-white py-3 mt-4 select-none rounded">
            @SharedLocalizer["Log in"]
        </button>
        <div class="form-group">
            <p style="margin-top:10px;">
                <a style="color:brown" id="forgot-password" asp-page="./ForgotPassword">@SharedLocalizer["Forgot your password?"]</a>
            </p>
            <a style="color:green" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@SharedLocalizer["Register as a new user"]</a>

        </div>
        @*<div class="g-recaptcha" data-sitekey="6LeLLSofAAAAAC4d4kiQs35NcZe6LWCZbkSUQBLz">
        </div>*@
    </form>

</div>

</div>



@section Scripts {
    <script>
        function onSubmit(token) {
            document.getElementById("account").submit();
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <partial name="_ValidationScriptsPartial" />
}
